workflows/2D0waGOdkFP85jAg.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-11T18:05:50.545Z",
    "createdAt": "2026-01-11T17:56:36.334Z",
    "versionId": "575c4bf4-5521-4e05-ae9d-fb986e70fadf",
    "workflowId": "2D0waGOdkFP85jAg",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          128,
          288
        ],
        "id": "d8cd5b00-8d3a-4798-a90b-6b38965b5426",
        "name": "trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://genaipro.vn/api/v1/labs/task",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"input\": {{ JSON.stringify($json['Chunk Script']) }},\n  \"voice_id\": \"your-elevenlabs-voice-id\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"style\": 0.4,\n  \"speed\": 0.95,\n  \"use_speaker_boost\": true,\n  \"similarity\": 0.6,\n  \"stability\": 0.7\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          352,
          -16
        ],
        "id": "88bdf28f-98ea-4b9e-ad01-b44a5f13d3ef",
        "name": "Generate Voiceover w/ \"GenAIPro.vn\""
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          576,
          -16
        ],
        "id": "1fcc3722-6859-4087-a992-42affb9c25fc",
        "name": "Wait 30 Sec",
        "webhookId": "81ad450a-324f-425c-8157-ee418d12dcd5"
      },
      {
        "parameters": {
          "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Generate Voiceover w/ \"GenAIPro.vn\"').first().json.task_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          -80
        ],
        "id": "8bb8620f-1c1b-4dcc-a502-533f7d472343",
        "name": "Check Status"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "ffc3f619-25eb-4189-b8eb-a1f3f26ff507"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "completed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2a5d39eb-e4b2-4ca2-9dea-af7f856e2603",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "processing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1024,
          -16
        ],
        "id": "a9c05958-7da6-42d8-bac1-dfcaf814d0b2",
        "name": "Finished? -> Download / Processing? -> Wait"
      },
      {
        "parameters": {
          "url": "={{ $json.result }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1216,
          -32
        ],
        "id": "0b85daa7-1fa1-4459-9f3a-412cf3531f58",
        "name": "Download Voiceover Chunk"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/audio-chunk-{{ $('trigger').first().json['Chunk Number'] }}.wav",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1536,
          256
        ],
        "id": "a9b2ebb7-80dc-4c2b-942b-ba7bc561ade2",
        "name": "Upload Chunk to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Generate Voiceover Chunk",
          "height": 960,
          "width": 1264,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          -128
        ],
        "id": "8e1505cf-70e0-4be0-a548-467405c23a44",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Upload Chunk to Project",
          "height": 240,
          "width": 480,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1408,
          176
        ],
        "id": "2ead5b8a-e975-4c1e-b307-29392b99cde6",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "=Id",
                "fieldValue": "={{ $('trigger').first().json.Id }}"
              },
              {
                "fieldName": "Worker Status",
                "fieldValue": "Ready"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1760,
          256
        ],
        "id": "5831ff6f-cf5b-4a5e-8ee9-04bb90f0bd69",
        "name": "Change Worker Status to \"Ready\"",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cors.uiisp.top?https://abhibots.com/api.php",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "origin",
                "value": "https://abhibots.commm"
              },
              {
                "name": "referer",
                "value": "https://abhibots.com/ttsmm"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "={{ JSON.stringify($json['Chunk Script']) }}"
              },
              {
                "name": "voice",
                "value": "21m00Tcm4TlvDq8ikWAM"
              },
              {
                "name": "provider",
                "value": "eleven"
              },
              {
                "name": "tg_user",
                "value": "{\"id\":1469928442,\"first_name\":\"Abhiraj\",\"username\":\"1469928442\",\"auth_via\":\"key\",\"is_premium\":true,\"is_group_member\":true,\"is_channel_member\":true}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          272
        ],
        "id": "f7eeec9d-aa07-42c0-8f9d-97da0eff66df",
        "name": "Generate Voiceover w/ \"GenAIPro.vn\"2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent?key={{ $json.key }}",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n    \"contents\": [\n      {\n        \"role\": \"user\",\n        \"parts\": [\n          {\n            \"text\": {{ JSON.stringify(\"Read aloud in a warm and friendly tone:\\n\" + $json['Chunk Script']) }}\n          }\n        ]\n      }\n    ],\n    \"generationConfig\": {\n      \"responseModalities\": [\"audio\"],\n      \"temperature\": 1,\n      \"speech_config\": {\n        \"voice_config\": {\n          \"prebuilt_voice_config\": {\n            \"voice_name\": \"Zephyr\"\n          }\n        }\n      }\n    }\n  }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          528
        ],
        "id": "a63c7430-4a3f-4513-9207-a68574ef0c22",
        "name": "HTTP Request",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// List of API keys\nconst keys = [\n  \"AIzaSyCoLB2k-NgVBEoc8kNOKd4kRc6PcApu1yM\",\n  \"AIzaSyCbROdy5OR4F1pT6anpxbagyABn2vbeqHE\",\n  //\"AIzaSyA5Hgm8Y1Zc40U6XyekCki573ABDNftchc\",\n  \"AIzaSyBiI-I_RAlsCPn9sfe_fN2IW956vBAuQ7o\",\n  // \"AIzaSyAk307yGE_SQCZo8UhwVeIRCG36eLbqexc\"\n];\n\n// Loop over input items and assign a random key to each one\nfor (const item of $input.all()) {\n  const randomIndex = Math.floor(Math.random() * keys.length);\n  item.json.key = keys[randomIndex];\n}\n\nreturn $input.all();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          528
        ],
        "id": "ebd8504e-cc2c-4431-aae2-86176157e2b7",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "8ef31348-5b92-493d-8e73-a58b29472cfb",
                "leftValue": "={{ $json.candidates[0].content.parts[0].inlineData.data }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          880,
          528
        ],
        "id": "d776df2b-0247-4fcf-b14a-22a0d0004a2c",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1024,
          640
        ],
        "id": "e8bc98c9-6f6f-41e1-b6ad-c96d87969ad7",
        "name": "Wait",
        "webhookId": "8953f05d-4007-45b2-a867-726cf909e12f"
      },
      {
        "parameters": {
          "jsCode": "// Function to create WAV header for PCM data\nfunction createWavHeader(dataLength, channels = 1, sampleRate = 24000, bitsPerSample = 16) {\n  const header = new ArrayBuffer(44);\n  const view = new DataView(header);\n  \n  // RIFF header\n  view.setUint32(0, 0x46464952, true); // \"RIFF\"\n  view.setUint32(4, 36 + dataLength, true); // File size - 8\n  view.setUint32(8, 0x45564157, true); // \"WAVE\"\n  \n  // Format chunk\n  view.setUint32(12, 0x20746d66, true); // \"fmt \"\n  view.setUint32(16, 16, true); // Format chunk size\n  view.setUint16(20, 1, true); // Audio format (PCM)\n  view.setUint16(22, channels, true); // Number of channels\n  view.setUint32(24, sampleRate, true); // Sample rate\n  view.setUint32(28, sampleRate * channels * (bitsPerSample / 8), true); // Byte rate\n  view.setUint16(32, channels * (bitsPerSample / 8), true); // Block align\n  view.setUint16(34, bitsPerSample, true); // Bits per sample\n  \n  // Data chunk\n  view.setUint32(36, 0x61746164, true); // \"data\"\n  view.setUint32(40, dataLength, true); // Data size\n  \n  return new Uint8Array(header);\n}\n\n// Function to combine WAV header with audio data\nfunction createWavFile(pcmData, channels = 1, sampleRate = 24000, bitsPerSample = 16) {\n  const header = createWavHeader(pcmData.length, channels, sampleRate, bitsPerSample);\n  const wavFile = new Uint8Array(header.length + pcmData.length);\n  \n  wavFile.set(header, 0);\n  wavFile.set(pcmData, header.length);\n  \n  return wavFile;\n}\n\n\nreturn $input.all().map(item => {\n  try {\n    const inputData = item.json;\n\n    // Try to get base64 audio data from multiple possible fields\n    let base64Data;\n    if (inputData.candidates?.[0]?.content?.parts?.[0]?.inlineData?.data) {\n      base64Data = inputData.candidates[0].content.parts[0].inlineData.data;\n    } else if (inputData.audio) {\n      base64Data = inputData.audio;\n    } else if (inputData.data) {\n      base64Data = inputData.data;\n    } else {\n      throw new Error('Could not find base64 audio data in input');\n    }\n\n    // Convert to buffer\n    const audioBuffer = Buffer.from(base64Data, 'base64');\n\n    // Create WAV file\n    const wavData = createWavFile(new Uint8Array(audioBuffer));\n\n    // Convert WAV to base64 for n8n\n    const wavBase64 = Buffer.from(wavData).toString('base64');\n\n    return {\n      json: {\n        success: true,\n        fileName: inputData.responseId || 'audio',\n        audioData: wavBase64,\n        originalSize: audioBuffer.length,\n        wavSize: wavData.length,\n        mimeType: 'audio/wav'\n      },\n      binary: {\n        data: {\n          data: wavBase64,\n          mimeType: 'audio/wav',\n          fileName: (inputData.responseId || 'audio') + '.wav'\n        }\n      }\n    };\n\n  } catch (error) {\n    return {\n      json: {\n        success: false,\n        error: error.message,\n        inputStructure: Object.keys(item.json)\n      }\n    };\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          512
        ],
        "id": "006647e8-e09e-4a89-9f90-df74f7f01ae8",
        "name": "Code in JavaScript2"
      }
    ],
    "connections": {
      "trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Voiceover w/ \"GenAIPro.vn\"": {
        "main": [
          [
            {
              "node": "Wait 30 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30 Sec": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Finished? -> Download / Processing? -> Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finished? -> Download / Processing? -> Wait": {
        "main": [
          [
            {
              "node": "Download Voiceover Chunk",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 30 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Voiceover Chunk": {
        "main": [
          []
        ]
      },
      "Upload Chunk to Project": {
        "main": [
          [
            {
              "node": "Change Worker Status to \"Ready\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Voiceover w/ \"GenAIPro.vn\"2": {
        "main": [
          [
            {
              "node": "Upload Chunk to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Upload Chunk to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "taha bouras",
    "name": "Version 575c4bf4",
    "description": ""
  },
  "activeVersionId": "575c4bf4-5521-4e05-ae9d-fb986e70fadf",
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voiceover w/ \"GenAIPro.vn\"": {
      "main": [
        [
          {
            "node": "Wait 30 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Sec": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Finished? -> Download / Processing? -> Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finished? -> Download / Processing? -> Wait": {
      "main": [
        [
          {
            "node": "Download Voiceover Chunk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voiceover Chunk": {
      "main": [
        []
      ]
    },
    "Upload Chunk to Project": {
      "main": [
        [
          {
            "node": "Change Worker Status to \"Ready\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voiceover w/ \"GenAIPro.vn\"2": {
      "main": [
        [
          {
            "node": "Upload Chunk to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Upload Chunk to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-21T11:12:44.649Z",
  "id": "2D0waGOdkFP85jAg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "voice",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        288
      ],
      "id": "d8cd5b00-8d3a-4798-a90b-6b38965b5426",
      "name": "trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://genaipro.vn/api/v1/labs/task",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify($json['Chunk Script']) }},\n  \"voice_id\": \"your-elevenlabs-voice-id\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"style\": 0.4,\n  \"speed\": 0.95,\n  \"use_speaker_boost\": true,\n  \"similarity\": 0.6,\n  \"stability\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -16
      ],
      "id": "88bdf28f-98ea-4b9e-ad01-b44a5f13d3ef",
      "name": "Generate Voiceover w/ \"GenAIPro.vn\""
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        -16
      ],
      "id": "1fcc3722-6859-4087-a992-42affb9c25fc",
      "name": "Wait 30 Sec",
      "webhookId": "81ad450a-324f-425c-8157-ee418d12dcd5"
    },
    {
      "parameters": {
        "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Generate Voiceover w/ \"GenAIPro.vn\"').first().json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -80
      ],
      "id": "8bb8620f-1c1b-4dcc-a502-533f7d472343",
      "name": "Check Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ffc3f619-25eb-4189-b8eb-a1f3f26ff507"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a5d39eb-e4b2-4ca2-9dea-af7f856e2603",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1024,
        -16
      ],
      "id": "a9c05958-7da6-42d8-bac1-dfcaf814d0b2",
      "name": "Finished? -> Download / Processing? -> Wait"
    },
    {
      "parameters": {
        "url": "={{ $json.result }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -32
      ],
      "id": "0b85daa7-1fa1-4459-9f3a-412cf3531f58",
      "name": "Download Voiceover Chunk"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/audio-chunk-{{ $('trigger').first().json['Chunk Number'] }}.wav",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1536,
        256
      ],
      "id": "a9b2ebb7-80dc-4c2b-942b-ba7bc561ade2",
      "name": "Upload Chunk to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate Voiceover Chunk",
        "height": 960,
        "width": 1264,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -128
      ],
      "id": "8e1505cf-70e0-4be0-a548-467405c23a44",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload Chunk to Project",
        "height": 240,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        176
      ],
      "id": "2ead5b8a-e975-4c1e-b307-29392b99cde6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=Id",
              "fieldValue": "={{ $('trigger').first().json.Id }}"
            },
            {
              "fieldName": "Worker Status",
              "fieldValue": "Ready"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1760,
        256
      ],
      "id": "5831ff6f-cf5b-4a5e-8ee9-04bb90f0bd69",
      "name": "Change Worker Status to \"Ready\"",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cors.uiisp.top?https://abhibots.com/api.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "origin",
              "value": "https://abhibots.commm"
            },
            {
              "name": "referer",
              "value": "https://abhibots.com/ttsmm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ JSON.stringify($json['Chunk Script']) }}"
            },
            {
              "name": "voice",
              "value": "21m00Tcm4TlvDq8ikWAM"
            },
            {
              "name": "provider",
              "value": "eleven"
            },
            {
              "name": "tg_user",
              "value": "{\"id\":1469928442,\"first_name\":\"Abhiraj\",\"username\":\"1469928442\",\"auth_via\":\"key\",\"is_premium\":true,\"is_group_member\":true,\"is_channel_member\":true}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        272
      ],
      "id": "f7eeec9d-aa07-42c0-8f9d-97da0eff66df",
      "name": "Generate Voiceover w/ \"GenAIPro.vn\"2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent?key={{ $json.key }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"contents\": [\n      {\n        \"role\": \"user\",\n        \"parts\": [\n          {\n            \"text\": {{ JSON.stringify(\"Read aloud in a warm and friendly tone:\\n\" + $json['Chunk Script']) }}\n          }\n        ]\n      }\n    ],\n    \"generationConfig\": {\n      \"responseModalities\": [\"audio\"],\n      \"temperature\": 1,\n      \"speech_config\": {\n        \"voice_config\": {\n          \"prebuilt_voice_config\": {\n            \"voice_name\": \"Zephyr\"\n          }\n        }\n      }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        528
      ],
      "id": "a63c7430-4a3f-4513-9207-a68574ef0c22",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// List of API keys\nconst keys = [\n  \"AIzaSyCoLB2k-NgVBEoc8kNOKd4kRc6PcApu1yM\",\n  \"AIzaSyCbROdy5OR4F1pT6anpxbagyABn2vbeqHE\",\n  //\"AIzaSyA5Hgm8Y1Zc40U6XyekCki573ABDNftchc\",\n  \"AIzaSyBiI-I_RAlsCPn9sfe_fN2IW956vBAuQ7o\",\n  // \"AIzaSyAk307yGE_SQCZo8UhwVeIRCG36eLbqexc\"\n];\n\n// Loop over input items and assign a random key to each one\nfor (const item of $input.all()) {\n  const randomIndex = Math.floor(Math.random() * keys.length);\n  item.json.key = keys[randomIndex];\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        528
      ],
      "id": "ebd8504e-cc2c-4431-aae2-86176157e2b7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ef31348-5b92-493d-8e73-a58b29472cfb",
              "leftValue": "={{ $json.candidates[0].content.parts[0].inlineData.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        528
      ],
      "id": "d776df2b-0247-4fcf-b14a-22a0d0004a2c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        640
      ],
      "id": "e8bc98c9-6f6f-41e1-b6ad-c96d87969ad7",
      "name": "Wait",
      "webhookId": "8953f05d-4007-45b2-a867-726cf909e12f"
    },
    {
      "parameters": {
        "jsCode": "// Function to create WAV header for PCM data\nfunction createWavHeader(dataLength, channels = 1, sampleRate = 24000, bitsPerSample = 16) {\n  const header = new ArrayBuffer(44);\n  const view = new DataView(header);\n  \n  // RIFF header\n  view.setUint32(0, 0x46464952, true); // \"RIFF\"\n  view.setUint32(4, 36 + dataLength, true); // File size - 8\n  view.setUint32(8, 0x45564157, true); // \"WAVE\"\n  \n  // Format chunk\n  view.setUint32(12, 0x20746d66, true); // \"fmt \"\n  view.setUint32(16, 16, true); // Format chunk size\n  view.setUint16(20, 1, true); // Audio format (PCM)\n  view.setUint16(22, channels, true); // Number of channels\n  view.setUint32(24, sampleRate, true); // Sample rate\n  view.setUint32(28, sampleRate * channels * (bitsPerSample / 8), true); // Byte rate\n  view.setUint16(32, channels * (bitsPerSample / 8), true); // Block align\n  view.setUint16(34, bitsPerSample, true); // Bits per sample\n  \n  // Data chunk\n  view.setUint32(36, 0x61746164, true); // \"data\"\n  view.setUint32(40, dataLength, true); // Data size\n  \n  return new Uint8Array(header);\n}\n\n// Function to combine WAV header with audio data\nfunction createWavFile(pcmData, channels = 1, sampleRate = 24000, bitsPerSample = 16) {\n  const header = createWavHeader(pcmData.length, channels, sampleRate, bitsPerSample);\n  const wavFile = new Uint8Array(header.length + pcmData.length);\n  \n  wavFile.set(header, 0);\n  wavFile.set(pcmData, header.length);\n  \n  return wavFile;\n}\n\n\nreturn $input.all().map(item => {\n  try {\n    const inputData = item.json;\n\n    // Try to get base64 audio data from multiple possible fields\n    let base64Data;\n    if (inputData.candidates?.[0]?.content?.parts?.[0]?.inlineData?.data) {\n      base64Data = inputData.candidates[0].content.parts[0].inlineData.data;\n    } else if (inputData.audio) {\n      base64Data = inputData.audio;\n    } else if (inputData.data) {\n      base64Data = inputData.data;\n    } else {\n      throw new Error('Could not find base64 audio data in input');\n    }\n\n    // Convert to buffer\n    const audioBuffer = Buffer.from(base64Data, 'base64');\n\n    // Create WAV file\n    const wavData = createWavFile(new Uint8Array(audioBuffer));\n\n    // Convert WAV to base64 for n8n\n    const wavBase64 = Buffer.from(wavData).toString('base64');\n\n    return {\n      json: {\n        success: true,\n        fileName: inputData.responseId || 'audio',\n        audioData: wavBase64,\n        originalSize: audioBuffer.length,\n        wavSize: wavData.length,\n        mimeType: 'audio/wav'\n      },\n      binary: {\n        data: {\n          data: wavBase64,\n          mimeType: 'audio/wav',\n          fileName: (inputData.responseId || 'audio') + '.wav'\n        }\n      }\n    };\n\n  } catch (error) {\n    return {\n      json: {\n        success: false,\n        error: error.message,\n        inputStructure: Object.keys(item.json)\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        512
      ],
      "id": "006647e8-e09e-4a89-9f90-df74f7f01ae8",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {
    "trigger": [
      {
        "json": {
          "Chunk Number": "4",
          "Chunk Script": "\"Das Kästchen hat jetzt keine Priorität!\", brüllte Ernst zurück, während er sich durch die Trümmer kämpfte, die sich wie ein Mahnmal um mich auftürmten. Ich konnte seine Entschlossenheit sehen, er war fast bei mir. Endlich erreichte er mich, packte mich fest am Arm und zog mich entschlossen weg, von den Trümmern, aus der Gefahr. Kaum war ich von meinem Platz weg, stürzte der bedrohliche Balken über meiner ehemaligen Position mit einem ohrenbetäubenden Krachen herab. Staub wirbelte erneut auf, und ein kleines Stück der Wand gab nach, legte den Blick auf den Garten frei. Frischluft! Ich sog sie gierig ein. Wir waren gerettet, aber das Haus war ein Wrack. Mein Zuhause.\n\nAußer Atem stand ich nun draußen im Garten, Ella umarmte mich fest. Ich spürte ihre Tränen auf meiner Schulter. \"Mama, Gott sei Dank! Was machst du denn in diesem Schrotthaufen?\", sagte sie, ihre Stimme immer noch zitternd.\n\nIch, immer noch blass, aber mit einem Funken meiner gewohnten Sturheit in den Augen, riss mich von ihr los. \"Mein Haus ist kein Schrotthaufen!\", sagte ich mit fester Stimme, obwohl meine Beine noch zitterten. \"Und mein Kästchen! Wir müssen das Kästchen holen! Es ist unter den Trümmern, direkt hinter dem Kamin, da muss es noch sein!\"\n\nErnst seufzte tief und wischte sich den Staub aus dem Gesicht, seine Haare waren ganz grau davon. ",
          "Id": "4",
          "Worker Table Name": "m0jfpnipilf8qr7",
          "Channel Base Name": "p7903f0ck8ocsqt",
          "Storage Bucket": "n8nt",
          "Videos Folder Path": "german/family-drama/videos",
          "Project Name": "unlock-your-inner-potential-a-journey"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-21T11:12:44.649Z",
      "createdAt": "2025-12-21T11:12:44.649Z",
      "role": "workflow:owner",
      "workflowId": "2D0waGOdkFP85jAg",
      "projectId": "Sz2vPJqZDAwEzZJp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T18:48:50.286Z",
  "versionId": "575c4bf4-5521-4e05-ae9d-fb986e70fadf"
}