workflows/mKyncW0fgoASQT11.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-11T19:14:52.680Z",
    "createdAt": "2026-01-11T19:14:44.754Z",
    "versionId": "67a79fa9-0e87-4010-8d1b-81ac534419da",
    "workflowId": "mKyncW0fgoASQT11",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1792,
          384
        ],
        "id": "b446e975-4d83-4723-b957-7309df01189f",
        "name": "trigger"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Worker Status"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -672,
          112
        ],
        "id": "91d8e9e0-16ac-4e76-9b12-362150201518",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "71a247f5-23dd-47be-bd3c-6e880f9191ae"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "completed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3b5c4917-38c4-42a0-aa23-e86e457e7001",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "processing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          208,
          144
        ],
        "id": "b2b71e52-147b-49d0-a443-c68aaf0c0299",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZLTAlAT3XEWPANef",
            "mode": "id",
            "cachedResultUrl": "/workflow/ZLTAlAT3XEWPANef"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1616,
          384
        ],
        "id": "b51a960f-9596-46f9-bfa4-90f550cc3532",
        "name": "B-Roll Image Generation"
      },
      {
        "parameters": {
          "jsCode": "// Access the input script from the trigger node\nconst script = $('trigger').first().json.Script;\n\n// Function to split the text into sentences, preserving punctuation and following whitespace\nfunction splitIntoSentences(text) {\n  const sentences = [];\n  let start = 0;\n  const regex = /([.!?])(\\s+)/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    sentences.push(text.substring(start, match.index + match[0].length));\n    start = match.index + match[0].length;\n  }\n  if (start < text.length) {\n    sentences.push(text.substring(start));\n  }\n  return sentences;\n}\n\n// Chunking parameters: aim for around 1300 characters, allowing up to +50 to finish a sentence\nconst targetSize = 1300;\nconst maxSize = targetSize + 50;\n\n// Split the script into sentences\nconst sentences = splitIntoSentences(script);\n\n// Build chunk texts\nconst chunkTexts = [];\nlet currentChunk = '';\n\nfor (let sentence of sentences) {\n  if (currentChunk.length + sentence.length <= maxSize) {\n    currentChunk += sentence;\n  } else {\n    if (currentChunk.length > 0) {\n      chunkTexts.push(currentChunk);\n    }\n    currentChunk = sentence;\n  }\n}\n\n// Add the last chunk text if any\nif (currentChunk.length > 0) {\n  chunkTexts.push(currentChunk);\n}\n\n// Now create chunks with total\nconst totalChunks = chunkTexts.length;\nconst chunks = chunkTexts.map((text, index) => ({\n  json: {\n    chunkNumber: index + 1,\n    totalChunks,\n    text\n  }\n}));\n\nreturn chunks;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          384
        ],
        "id": "21b87f60-2f1a-4cb7-b839-536fd54a520f",
        "name": "Split Script into Chunks"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "33df23a1-d16d-4bc6-b58d-28c77cff43db",
                "name": "Chunk Number",
                "value": "={{ $json.chunkNumber }}",
                "type": "string"
              },
              {
                "id": "66f7e28f-e27d-41f0-a72a-76ad20192b48",
                "name": "Chunk Script",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1008,
          416
        ],
        "id": "b6ad70a0-1554-47ae-bc67-b61a6af777f4",
        "name": "Chunk Data"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -880,
          528
        ],
        "id": "95a57c3f-99e8-4fea-a2e0-27dcdd825c9b",
        "name": "Get All Workers",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Worker Status'] }}",
                      "rightValue": "Ready",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Worker Available"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                      "leftValue": "={{ $json['Worker Status'] }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Workers Busy"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -704,
          528
        ],
        "id": "723119dc-c097-482a-8bd2-19e2a26081f0",
        "name": "Check for \"Ready\" Workers"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -560,
          624
        ],
        "id": "cce71ea9-c714-4685-8606-f8087cdb4317",
        "name": "Limit"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -400,
          624
        ],
        "id": "f0dcf2e4-f406-4ddf-aa14-5c14e5c19fbd",
        "name": "Check Again in 10 Sec",
        "webhookId": "de157212-b0bf-4ed3-9441-a84bb32a46e1"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -400,
          448
        ],
        "id": "1012d66d-62db-48f8-95b9-99d4e6ddf98a",
        "name": "Get Worker"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa199097-ca6c-43d7-afce-a0a70be62df9",
                "name": "Chunk Number",
                "value": "={{ $json['Chunk Number'] }}",
                "type": "string"
              },
              {
                "id": "78ce07e7-2794-4988-9db1-49bd96a2c0b9",
                "name": "Chunk Script",
                "value": "={{ $json['Chunk Script'] }}",
                "type": "string"
              },
              {
                "id": "6bc794a0-4836-4290-85cd-165832d48cd0",
                "name": "Id",
                "value": "={{ $json.Id }}",
                "type": "string"
              },
              {
                "id": "6269efef-c1ff-4cd4-9317-f8d66482ab9a",
                "name": "Worker Table Name",
                "value": "={{ $('trigger').first().json['Worker Table Name'] }}",
                "type": "string"
              },
              {
                "id": "df32d451-72bc-4271-abcb-4c5ba918c89c",
                "name": "Channel Base Name",
                "value": "={{ $('trigger').first().json['Channel Base Name'] }}",
                "type": "string"
              },
              {
                "id": "c457a9b5-4cb7-4849-97a5-34f307a163d9",
                "name": "Storage Bucket",
                "value": "={{ $('trigger').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "097bbfc8-7d42-45e3-8a81-a5d5e0be2df5",
                "name": "Videos Folder Path",
                "value": "={{ $('trigger').first().json['Videos Folder Path'] }}",
                "type": "string"
              },
              {
                "id": "aaa6455c-a926-4561-9c43-a852b841b577",
                "name": "Project Name",
                "value": "={{ $('trigger').first().json['Project Name'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -176,
          384
        ],
        "id": "fa051723-2b7b-415b-9ea1-1dc603868065",
        "name": "Set Input Data for Chunk"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Id",
                "fieldValue": "={{ $json.Id }}"
              },
              {
                "fieldName": "=Worker Status",
                "fieldValue": "Processing"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -176,
          544
        ],
        "id": "33309342-078d-497a-85de-e7b98a53bd87",
        "name": "Set Status from \"Ready\" to \"Processing\"",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          32,
          464
        ],
        "id": "e9f67d3c-dcd1-495e-bf4b-aaf7a902cd60",
        "name": "Wait for both Paths to Finish"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -960,
          112
        ],
        "id": "827cedac-7e1f-459f-9989-a9af48df65c1",
        "name": "Wait 30 Sec",
        "webhookId": "f31a5214-e4a8-47c0-9020-41496b80676b"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -816,
          112
        ],
        "id": "1be3bfe9-2cd1-4813-8216-526dfc49ede2",
        "name": "Grab All Workers",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "notContains"
                      },
                      "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Worker Available"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                      "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Workers Busy"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -512,
          112
        ],
        "id": "85b786df-9072-44cd-a88a-79a22c505965",
        "name": "Check Worker Status"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1104,
          112
        ],
        "id": "cb1be070-bfa0-497d-a0d0-68fbbdac9c58",
        "name": "Limit1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ecfcc336-1d1b-4d7e-9c03-712d555279e1",
                "name": "Total Chunk Number",
                "value": "={{ $('Split Script into Chunks').first().json.totalChunks }}",
                "type": "string"
              },
              {
                "id": "ad6c14d5-7fd0-40d9-923c-827fb5e41570",
                "name": "Voiceover Chunk Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          -112
        ],
        "id": "7143986f-8f98-4a71-b7c5-28ac1fcae4bd",
        "name": "Set Input Data for Voiceover Processing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -240,
          -112
        ],
        "id": "e394469c-f78e-4787-bddb-5a16b2e28476",
        "name": "Limit2"
      },
      {
        "parameters": {
          "jsCode": "// Assuming input is a single item with json like your data:\n// { \"Total Chunk Number\": \"6\", \"Voiceover Chunk Download URL\": \"http://...\" }\n// If your input is an array, access items[0].json\nconst data = items[0].json; // Or adjust if multiple items\nconst totalChunks = parseInt(data[\"Total Chunk Number\"], 10);\nconst basePath = data[\"Voiceover Chunk Download URL\"];\n// Generate input objects: [{ file_url: basePath + \"audio-chunk-1.mp3\", options: [{option: \"-f\", argument: \"mp3\"}] }, ...]\nconst inputs = [];\nfor (let i = 1; i <= totalChunks; i++) {\n  inputs.push({\n    file_url: `${basePath}audio-chunk-${i}.wav`,\n    options: [{ option: \"-f\", argument: \"mp3\" }]\n  });\n}\n// Build the filter_complex string for audio concatenation: [0:a][1:a]...concat=n=total:v=0:a=1 [a]\nconst filterInputs = inputs.map((_, index) => `[${index}:a]`).join('');\nconst concatFilter = `${filterInputs}concat=n=${totalChunks}:v=0:a=1 [a]`;\n// Filters array\nconst filters = [{ filter: concatFilter }];\n// Outputs: map to [a], encode to MP3\nconst outputs = [\n  {\n    options: [\n      { option: \"-map\", argument: \"[a]\" },\n      { option: \"-c:a\", argument: \"libmp3lame\" },\n      { option: \"-b:a\", argument: \"128k\" }\n    ]\n  }\n];\n// Optional: Add global options like -y to overwrite, -strict -2, and increase probesize/analyzeduration\nconst globalOptions = [\n  { option: \"-y\" },\n  { option: \"-strict\", argument: \"-2\" },\n  { option: \"-probesize\", argument: \"50000000\" },\n  { option: \"-analyzeduration\", argument: \"100000000\" }\n];\n// Return the structured payload for /v1/ffmpeg/compose\nreturn [\n  {\n    json: {\n      inputs: inputs,\n      filters: filters,\n      outputs: outputs,\n      global_options: globalOptions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -112
        ],
        "id": "5f0d5f8c-a68a-4f7f-b3a4-27752fda4c67",
        "name": "Prepare Render API Input for Voiceover"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $('trigger').item.json['Video Render API key'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          336,
          -112
        ],
        "id": "5a5b9a26-23bc-4747-999a-5b6ae12691e6",
        "name": "Merge Voiceover Chunks into One mp3 File"
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -112
        ],
        "id": "da6533ed-a260-4790-a35c-daee124ee26b",
        "name": "Download Finished Voiceover"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          736,
          -112
        ],
        "id": "443f9e60-0816-43e8-acb1-19c3325518d4",
        "name": "Upload Voiceover File to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.assemblyai.com/v2/transcript",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "audio_url",
                "value": "={{ $('Merge Voiceover Chunks into One mp3 File').first().json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}"
              },
              {
                "name": "language_code",
                "value": "de"
              },
              {
                "name": "punctuate",
                "value": "true"
              },
              {
                "name": "format_text",
                "value": "true"
              },
              {
                "name": "disfluencies",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -240,
          144
        ],
        "id": "1b825243-2613-4983-8a14-51d0d37d2679",
        "name": "Transcribe Audio (for Captions)"
      },
      {
        "parameters": {
          "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          64,
          144
        ],
        "id": "7cd267e8-91c3-433e-a733-ce9863f734e8",
        "name": "Request Transcript"
      },
      {
        "parameters": {
          "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/srt",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "chars_per_caption",
                "value": "42"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          128
        ],
        "id": "dd00a11e-f00a-4d19-9e07-fa322addec24",
        "name": "Grab Transcript"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "srt",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          752,
          128
        ],
        "id": "ef6c3234-18e4-42ab-af32-2da05d6e77f1",
        "name": "JSON -> SRT-File"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          928,
          128
        ],
        "id": "bd3967bc-90b2-4e23-a7f1-76193d16da5b",
        "name": "Upload SRT-File to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Alternative version with transparency effect\nconst loopVideoUrl = $input.item.json['Loop Video Download URL'];\nconst audioUrl = $input.item.json['Voiceover Download URL'];\nconst overlayPath = $input.item.json['Overlay Download URL'];\nconst srtUrl = $input.item.json['SRT Download URL'];\n\nconst inputs = [\n  { file_url: loopVideoUrl }, // 0: background video\n  { file_url: audioUrl },     // 1: audio\n  { file_url: overlayPath }   // 2: overlay video\n];\n\nconst audioIndex = 1;\n\n// Build filter complex\nlet filterComplex = \"[0:v]loop=-1:size=1800:start=0[mainloop];\";\nfilterComplex += \"[2:v]loop=-1:size=481:start=0[overlayloop];\";\n// Use colorkey to make black transparent, then overlay\nfilterComplex += \"[overlayloop]colorkey=0x000000:0.3:0.1[keyed];\";\nfilterComplex += \"[mainloop][keyed]overlay=x=0:y=0[vout];\";\n// Add subtitles\nfilterComplex += `[vout]subtitles='${srtUrl}':force_style='FontSize=30,PrimaryColour=&H00FFFF&,Alignment=2'[vout]`;\n\nconst outputOptions = [\n  { option: \"-map\", argument: \"[vout]\" },\n  { option: \"-map\", argument: `${audioIndex}:a` },\n  { option: \"-c:v\", argument: \"libx264\" },\n  { option: \"-crf\", argument: \"23\" },\n  { option: \"-preset\", argument: \"medium\" },\n  { option: \"-c:a\", argument: \"aac\" },\n  { option: \"-b:a\", argument: \"192k\" },\n  { option: \"-shortest\" },\n  { option: \"-f\", argument: \"mp4\" }\n];\n\nconst payload = {\n  inputs: inputs,\n  filters: [\n    {\n      filter: filterComplex\n    }\n  ],\n  outputs: [\n    {\n      options: outputOptions\n    }\n  ],\n  metadata: {\n    thumbnail: true,\n    filesize: true,\n    duration: true,\n    bitrate: true,\n    encoder: true\n  },\n  id: \"composed_video_\" + Date.now()\n};\n\nreturn payload;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          448
        ],
        "id": "2f3d29fe-1909-4539-9564-9aa88ce18fd2",
        "name": "Prepare Render API Input for Final Video"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "447d00a7-f531-43e8-8e9e-611ec9903a93",
                "name": "Loop Video Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/clips/loop-video.mp4",
                "type": "string"
              },
              {
                "id": "d8f999bc-beb6-4fb7-974c-d5999c848ae4",
                "name": "Voiceover Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
                "type": "string"
              },
              {
                "id": "71278169-8dfe-4034-8bfd-fad3da34b5f2",
                "name": "SRT Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
                "type": "string"
              },
              {
                "id": "c025994b-d78b-4d2a-8833-5f2f7378a02c",
                "name": "Overlay Download URL OLD",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}youtube-channels/{{ $('trigger').first().json['Overlay Video'] }}",
                "type": "string"
              },
              {
                "id": "58a0e413-115e-4ec0-89fe-0374ed690e8e",
                "name": "Overlay Download URL",
                "value": "https://n8nt.mos.us-south-1.sufybkt.com/Glowing_particles_overlay_free_to_use_1080p.mp4",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          416
        ],
        "id": "edfea310-98af-4ca9-8ab7-159bc20dfb7c",
        "name": "Set Input Data for Final Video"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $('trigger').item.json['Video Render API key'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 2000000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          400
        ],
        "id": "2a371531-fd89-48d2-9d73-5c232c7332ec",
        "name": "Render Final Video",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1216,
          432
        ],
        "id": "d80e3bb1-4d10-4a21-aa55-674b7de58843",
        "name": "Download Final Video"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/{{ $('trigger').first().json['Project Name'] }}.mp4",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          432,
          656
        ],
        "id": "2d151eda-4410-453e-bec9-1004f2ff16b8",
        "name": "Upload Final Video to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Channel Table Name'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Id",
                "fieldValue": "={{ $('trigger').first().json.Id }}"
              },
              {
                "fieldName": "Status",
                "fieldValue": "=Done on {{ $now.format('dd/LL/yyyy') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          912,
          656
        ],
        "id": "6ab70983-bc6c-4acc-9004-ab934100b699",
        "name": "Set Project Status to \"Done\"",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "url": "https://tahabou2002-myauntsgts.hf.space/webhook/bde9cf17-a83b-4eed-86f5-3177313910e2111454754",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          656
        ],
        "id": "02b657af-9f2c-41b8-9bcd-865f65f94aae",
        "name": "Start Organizer Workflow"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// ADJUST THIS NUMBER TO FIX YOUR TIMING\n// ============================================\nconst SHIFT_MS = -600;  // Change this! Try -300, -500, -600, etc.\n// Negative = captions appear EARLIER\n// Positive = captions appear LATER\n// ============================================\n\n// Get your SRT data (adjust this line if needed)\nconst srtContent = $input.item.json.data;  \n// Other options:\n// const srtContent = $input.item.json[0].data;  // if format is [{\"data\": \"...\"}]\n// const srtContent = $input.item.json;  // if the whole input IS the SRT string\n\n// ==== YOU DON'T NEED TO TOUCH ANYTHING BELOW THIS LINE ====\n\n// Parse SRT timestamp to milliseconds\nfunction parseSrtTimestamp(timestamp) {\n    const parts = timestamp.split(':');\n    const hours = parseInt(parts[0]);\n    const minutes = parseInt(parts[1]);\n    const [seconds, milliseconds] = parts[2].split(',').map(n => parseInt(n));\n    return (hours * 3600000) + (minutes * 60000) + (seconds * 1000) + milliseconds;\n}\n\n// Format milliseconds to SRT timestamp\nfunction formatSrtTimestamp(totalMs) {\n    if (totalMs < 0) totalMs = 0;\n    const hours = Math.floor(totalMs / 3600000);\n    const minutes = Math.floor((totalMs % 3600000) / 60000);\n    const seconds = Math.floor((totalMs % 60000) / 1000);\n    const milliseconds = totalMs % 1000;\n    return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')},${String(milliseconds).padStart(3, '0')}`;\n}\n\nconsole.log(`Step 1: Shifting all timestamps by ${SHIFT_MS}ms`);\n\n// First, apply the time shift\nlet shiftedSrt = srtContent.replace(\n    /(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})/g,\n    (match, start, end) => {\n        const newStart = formatSrtTimestamp(parseSrtTimestamp(start) + SHIFT_MS);\n        const newEnd = formatSrtTimestamp(parseSrtTimestamp(end) + SHIFT_MS);\n        return `${newStart} --> ${newEnd}`;\n    }\n);\n\nconsole.log(`Step 2: Removing gaps between subtitles`);\n\n// Parse all subtitle blocks\nconst subtitleBlocks = [];\nconst blockPattern = /(\\d+)\\n(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})\\n([\\s\\S]*?)(?=\\n\\d+\\n|\\n*$)/g;\nlet match;\n\nwhile ((match = blockPattern.exec(shiftedSrt)) !== null) {\n    subtitleBlocks.push({\n        index: match[1],\n        start: match[2],\n        end: match[3],\n        text: match[4].trim()\n    });\n}\n\nconsole.log(`Found ${subtitleBlocks.length} subtitles`);\n\n// Extend each subtitle's end time to the next subtitle's start time\nfor (let i = 0; i < subtitleBlocks.length - 1; i++) {\n    const currentEnd = parseSrtTimestamp(subtitleBlocks[i].end);\n    const nextStart = parseSrtTimestamp(subtitleBlocks[i + 1].start);\n    \n    // Only extend if there's a gap (next starts after current ends)\n    if (nextStart > currentEnd) {\n        subtitleBlocks[i].end = subtitleBlocks[i + 1].start;\n    }\n}\n\n// Rebuild the SRT file\nlet correctedSrt = '';\nfor (let i = 0; i < subtitleBlocks.length; i++) {\n    const block = subtitleBlocks[i];\n    correctedSrt += `${block.index}\\n`;\n    correctedSrt += `${block.start} --> ${block.end}\\n`;\n    correctedSrt += `${block.text}\\n\\n`;\n}\n\n// Show example\nif (subtitleBlocks.length > 0) {\n    console.log(`Example of first subtitle:`);\n    console.log(`${subtitleBlocks[0].start} --> ${subtitleBlocks[0].end}`);\n    console.log(`Text: ${subtitleBlocks[0].text.substring(0, 50)}...`);\n}\n\n// Return the corrected SRT\nreturn { srt: correctedSrt };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          128
        ],
        "id": "340af344-45fa-4bdc-b1b6-b36b13e6cdb9",
        "name": "Shift Transcript -600ms"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -80,
          144
        ],
        "id": "4e080bc7-dc4e-4beb-b01c-6515e622fd3d",
        "name": "Wait 20 Sec",
        "webhookId": "34ce6a35-62eb-46c2-8cf0-6992ac6d7071"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "2D0waGOdkFP85jAg",
            "mode": "id",
            "cachedResultUrl": "/workflow/2D0waGOdkFP85jAg"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          208,
          640
        ],
        "id": "0642e35c-1945-452e-97e7-19b95f60fd94",
        "name": "Voiceover Chunk Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1200,
          384
        ],
        "id": "318d8e6b-62f3-4221-b4e6-ff16dab70426",
        "name": "Loop Over Chunks"
      },
      {
        "parameters": {
          "content": "## 1. Voiceover Chunk Generation Loop (w/ Workers)",
          "height": 480,
          "width": 1424,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1056,
          368
        ],
        "id": "533fbc62-cfb9-4bba-b806-763f1d38fb6f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 1.1 Wait for last Workers",
          "height": 256,
          "width": 864,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1168,
          64
        ],
        "id": "65080d44-50ec-48a0-a7d9-394bd67b4196",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 2. Merge Voiceover Chunks into One File",
          "height": 240,
          "width": 1184,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          -160
        ],
        "id": "f090d8a3-92e1-4ab6-9fa9-97f1a5176b34",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## 3. Generate Transcript from Voiceover",
          "height": 256,
          "width": 1392,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          96
        ],
        "id": "b6e78788-6084-4c12-803b-07c0d2910a42",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## 4. Render Final Video",
          "height": 480,
          "width": 992,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          384,
          368
        ],
        "id": "a849d63d-5645-4ba5-ad7d-9f9649942ac4",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## 0. Start B-Roll Generation & Split Chunks",
          "height": 208,
          "width": 736,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1808,
          336
        ],
        "id": "9544ba2d-9268-49dd-b1e1-7079d120a57e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          816,
          448
        ],
        "id": "6a927039-54b1-421c-b60e-fa8e5f823d36",
        "name": "Wait",
        "webhookId": "7016881d-0c2d-4f7e-b7db-8a467e62dc5c"
      }
    ],
    "connections": {
      "trigger": {
        "main": [
          [
            {
              "node": "B-Roll Image Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Check Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Grab Transcript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 20 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B-Roll Image Generation": {
        "main": [
          [
            {
              "node": "Split Script into Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Script into Chunks": {
        "main": [
          [
            {
              "node": "Loop Over Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Data": {
        "main": [
          [
            {
              "node": "Get Worker",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Workers": {
        "main": [
          [
            {
              "node": "Check for \"Ready\" Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for \"Ready\" Workers": {
        "main": [
          [
            {
              "node": "Get Worker",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Check Again in 10 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Again in 10 Sec": {
        "main": [
          [
            {
              "node": "Get All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Worker": {
        "main": [
          [
            {
              "node": "Set Input Data for Chunk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Status from \"Ready\" to \"Processing\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Chunk": {
        "main": [
          [
            {
              "node": "Wait for both Paths to Finish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status from \"Ready\" to \"Processing\"": {
        "main": [
          [
            {
              "node": "Wait for both Paths to Finish",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wait for both Paths to Finish": {
        "main": [
          [
            {
              "node": "Voiceover Chunk Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30 Sec": {
        "main": [
          [
            {
              "node": "Grab All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grab All Workers": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Worker Status": {
        "main": [
          [
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Wait 30 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Voiceover Processing": {
        "main": [
          [
            {
              "node": "Prepare Render API Input for Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit2": {
        "main": [
          [
            {
              "node": "Set Input Data for Voiceover Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render API Input for Voiceover": {
        "main": [
          [
            {
              "node": "Merge Voiceover Chunks into One mp3 File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Voiceover Chunks into One mp3 File": {
        "main": [
          [
            {
              "node": "Download Finished Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Finished Voiceover": {
        "main": [
          [
            {
              "node": "Upload Voiceover File to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Voiceover File to Project": {
        "main": [
          [
            {
              "node": "Transcribe Audio (for Captions)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Audio (for Captions)": {
        "main": [
          [
            {
              "node": "Wait 20 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request Transcript": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grab Transcript": {
        "main": [
          [
            {
              "node": "Shift Transcript -600ms",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON -> SRT-File": {
        "main": [
          [
            {
              "node": "Upload SRT-File to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload SRT-File to Project": {
        "main": [
          [
            {
              "node": "Set Input Data for Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render API Input for Final Video": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Final Video": {
        "main": [
          [
            {
              "node": "Prepare Render API Input for Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Final Video": {
        "main": [
          [
            {
              "node": "Download Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Final Video": {
        "main": [
          [
            {
              "node": "Upload Final Video to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Final Video to Project": {
        "main": [
          [
            {
              "node": "Set Project Status to \"Done\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Project Status to \"Done\"": {
        "main": [
          [
            {
              "node": "Start Organizer Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shift Transcript -600ms": {
        "main": [
          [
            {
              "node": "JSON -> SRT-File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 20 Sec": {
        "main": [
          [
            {
              "node": "Request Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voiceover Chunk Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Chunks": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Chunk Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Render Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "taha bouras",
    "name": "Version 67a79fa9",
    "description": ""
  },
  "activeVersionId": "67a79fa9-0e87-4010-8d1b-81ac534419da",
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "B-Roll Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Grab Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B-Roll Image Generation": {
      "main": [
        [
          {
            "node": "Split Script into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Script into Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Data": {
      "main": [
        [
          {
            "node": "Get Worker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workers": {
      "main": [
        [
          {
            "node": "Check for \"Ready\" Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for \"Ready\" Workers": {
      "main": [
        [
          {
            "node": "Get Worker",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check Again in 10 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Again in 10 Sec": {
      "main": [
        [
          {
            "node": "Get All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Worker": {
      "main": [
        [
          {
            "node": "Set Input Data for Chunk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Status from \"Ready\" to \"Processing\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Chunk": {
      "main": [
        [
          {
            "node": "Wait for both Paths to Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status from \"Ready\" to \"Processing\"": {
      "main": [
        [
          {
            "node": "Wait for both Paths to Finish",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for both Paths to Finish": {
      "main": [
        [
          {
            "node": "Voiceover Chunk Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Sec": {
      "main": [
        [
          {
            "node": "Grab All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab All Workers": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Worker Status": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Wait 30 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Voiceover Processing": {
      "main": [
        [
          {
            "node": "Prepare Render API Input for Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Set Input Data for Voiceover Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render API Input for Voiceover": {
      "main": [
        [
          {
            "node": "Merge Voiceover Chunks into One mp3 File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Voiceover Chunks into One mp3 File": {
      "main": [
        [
          {
            "node": "Download Finished Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Finished Voiceover": {
      "main": [
        [
          {
            "node": "Upload Voiceover File to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Voiceover File to Project": {
      "main": [
        [
          {
            "node": "Transcribe Audio (for Captions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (for Captions)": {
      "main": [
        [
          {
            "node": "Wait 20 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Transcript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Transcript": {
      "main": [
        [
          {
            "node": "Shift Transcript -600ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON -> SRT-File": {
      "main": [
        [
          {
            "node": "Upload SRT-File to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload SRT-File to Project": {
      "main": [
        [
          {
            "node": "Set Input Data for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render API Input for Final Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Final Video": {
      "main": [
        [
          {
            "node": "Prepare Render API Input for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Final Video": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload Final Video to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video to Project": {
      "main": [
        [
          {
            "node": "Set Project Status to \"Done\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Project Status to \"Done\"": {
      "main": [
        [
          {
            "node": "Start Organizer Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shift Transcript -600ms": {
      "main": [
        [
          {
            "node": "JSON -> SRT-File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Sec": {
      "main": [
        [
          {
            "node": "Request Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voiceover Chunk Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Chunks": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Render Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-21T11:11:21.376Z",
  "id": "mKyncW0fgoASQT11",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "4. Video Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1792,
        384
      ],
      "id": "b446e975-4d83-4723-b957-7309df01189f",
      "name": "trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Worker Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        112
      ],
      "id": "91d8e9e0-16ac-4e76-9b12-362150201518",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "71a247f5-23dd-47be-bd3c-6e880f9191ae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b5c4917-38c4-42a0-aa23-e86e457e7001",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        144
      ],
      "id": "b2b71e52-147b-49d0-a443-c68aaf0c0299",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZLTAlAT3XEWPANef",
          "mode": "id",
          "cachedResultUrl": "/workflow/ZLTAlAT3XEWPANef"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1616,
        384
      ],
      "id": "b51a960f-9596-46f9-bfa4-90f550cc3532",
      "name": "B-Roll Image Generation"
    },
    {
      "parameters": {
        "jsCode": "// Access the input script from the trigger node\nconst script = $('trigger').first().json.Script;\n\n// Function to split the text into sentences, preserving punctuation and following whitespace\nfunction splitIntoSentences(text) {\n  const sentences = [];\n  let start = 0;\n  const regex = /([.!?])(\\s+)/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    sentences.push(text.substring(start, match.index + match[0].length));\n    start = match.index + match[0].length;\n  }\n  if (start < text.length) {\n    sentences.push(text.substring(start));\n  }\n  return sentences;\n}\n\n// Chunking parameters: aim for around 1300 characters, allowing up to +50 to finish a sentence\nconst targetSize = 1300;\nconst maxSize = targetSize + 50;\n\n// Split the script into sentences\nconst sentences = splitIntoSentences(script);\n\n// Build chunk texts\nconst chunkTexts = [];\nlet currentChunk = '';\n\nfor (let sentence of sentences) {\n  if (currentChunk.length + sentence.length <= maxSize) {\n    currentChunk += sentence;\n  } else {\n    if (currentChunk.length > 0) {\n      chunkTexts.push(currentChunk);\n    }\n    currentChunk = sentence;\n  }\n}\n\n// Add the last chunk text if any\nif (currentChunk.length > 0) {\n  chunkTexts.push(currentChunk);\n}\n\n// Now create chunks with total\nconst totalChunks = chunkTexts.length;\nconst chunks = chunkTexts.map((text, index) => ({\n  json: {\n    chunkNumber: index + 1,\n    totalChunks,\n    text\n  }\n}));\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        384
      ],
      "id": "21b87f60-2f1a-4cb7-b839-536fd54a520f",
      "name": "Split Script into Chunks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33df23a1-d16d-4bc6-b58d-28c77cff43db",
              "name": "Chunk Number",
              "value": "={{ $json.chunkNumber }}",
              "type": "string"
            },
            {
              "id": "66f7e28f-e27d-41f0-a72a-76ad20192b48",
              "name": "Chunk Script",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        416
      ],
      "id": "b6ad70a0-1554-47ae-bc67-b61a6af777f4",
      "name": "Chunk Data"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -880,
        528
      ],
      "id": "95a57c3f-99e8-4fea-a2e0-27dcdd825c9b",
      "name": "Get All Workers",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Worker Status'] }}",
                    "rightValue": "Ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worker Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                    "leftValue": "={{ $json['Worker Status'] }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workers Busy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        528
      ],
      "id": "723119dc-c097-482a-8bd2-19e2a26081f0",
      "name": "Check for \"Ready\" Workers"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -560,
        624
      ],
      "id": "cce71ea9-c714-4685-8606-f8087cdb4317",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        624
      ],
      "id": "f0dcf2e4-f406-4ddf-aa14-5c14e5c19fbd",
      "name": "Check Again in 10 Sec",
      "webhookId": "de157212-b0bf-4ed3-9441-a84bb32a46e1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        448
      ],
      "id": "1012d66d-62db-48f8-95b9-99d4e6ddf98a",
      "name": "Get Worker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa199097-ca6c-43d7-afce-a0a70be62df9",
              "name": "Chunk Number",
              "value": "={{ $json['Chunk Number'] }}",
              "type": "string"
            },
            {
              "id": "78ce07e7-2794-4988-9db1-49bd96a2c0b9",
              "name": "Chunk Script",
              "value": "={{ $json['Chunk Script'] }}",
              "type": "string"
            },
            {
              "id": "6bc794a0-4836-4290-85cd-165832d48cd0",
              "name": "Id",
              "value": "={{ $json.Id }}",
              "type": "string"
            },
            {
              "id": "6269efef-c1ff-4cd4-9317-f8d66482ab9a",
              "name": "Worker Table Name",
              "value": "={{ $('trigger').first().json['Worker Table Name'] }}",
              "type": "string"
            },
            {
              "id": "df32d451-72bc-4271-abcb-4c5ba918c89c",
              "name": "Channel Base Name",
              "value": "={{ $('trigger').first().json['Channel Base Name'] }}",
              "type": "string"
            },
            {
              "id": "c457a9b5-4cb7-4849-97a5-34f307a163d9",
              "name": "Storage Bucket",
              "value": "={{ $('trigger').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "097bbfc8-7d42-45e3-8a81-a5d5e0be2df5",
              "name": "Videos Folder Path",
              "value": "={{ $('trigger').first().json['Videos Folder Path'] }}",
              "type": "string"
            },
            {
              "id": "aaa6455c-a926-4561-9c43-a852b841b577",
              "name": "Project Name",
              "value": "={{ $('trigger').first().json['Project Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        384
      ],
      "id": "fa051723-2b7b-415b-9ea1-1dc603868065",
      "name": "Set Input Data for Chunk"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "=Worker Status",
              "fieldValue": "Processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        544
      ],
      "id": "33309342-078d-497a-85de-e7b98a53bd87",
      "name": "Set Status from \"Ready\" to \"Processing\"",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        464
      ],
      "id": "e9f67d3c-dcd1-495e-bf4b-aaf7a902cd60",
      "name": "Wait for both Paths to Finish"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        112
      ],
      "id": "827cedac-7e1f-459f-9989-a9af48df65c1",
      "name": "Wait 30 Sec",
      "webhookId": "f31a5214-e4a8-47c0-9020-41496b80676b"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -816,
        112
      ],
      "id": "1be3bfe9-2cd1-4813-8216-526dfc49ede2",
      "name": "Grab All Workers",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worker Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                    "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workers Busy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        112
      ],
      "id": "85b786df-9072-44cd-a88a-79a22c505965",
      "name": "Check Worker Status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ],
      "id": "cb1be070-bfa0-497d-a0d0-68fbbdac9c58",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecfcc336-1d1b-4d7e-9c03-712d555279e1",
              "name": "Total Chunk Number",
              "value": "={{ $('Split Script into Chunks').first().json.totalChunks }}",
              "type": "string"
            },
            {
              "id": "ad6c14d5-7fd0-40d9-923c-827fb5e41570",
              "name": "Voiceover Chunk Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -112
      ],
      "id": "7143986f-8f98-4a71-b7c5-28ac1fcae4bd",
      "name": "Set Input Data for Voiceover Processing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        -112
      ],
      "id": "e394469c-f78e-4787-bddb-5a16b2e28476",
      "name": "Limit2"
    },
    {
      "parameters": {
        "jsCode": "// Assuming input is a single item with json like your data:\n// { \"Total Chunk Number\": \"6\", \"Voiceover Chunk Download URL\": \"http://...\" }\n// If your input is an array, access items[0].json\nconst data = items[0].json; // Or adjust if multiple items\nconst totalChunks = parseInt(data[\"Total Chunk Number\"], 10);\nconst basePath = data[\"Voiceover Chunk Download URL\"];\n// Generate input objects: [{ file_url: basePath + \"audio-chunk-1.mp3\", options: [{option: \"-f\", argument: \"mp3\"}] }, ...]\nconst inputs = [];\nfor (let i = 1; i <= totalChunks; i++) {\n  inputs.push({\n    file_url: `${basePath}audio-chunk-${i}.wav`,\n    options: [{ option: \"-f\", argument: \"mp3\" }]\n  });\n}\n// Build the filter_complex string for audio concatenation: [0:a][1:a]...concat=n=total:v=0:a=1 [a]\nconst filterInputs = inputs.map((_, index) => `[${index}:a]`).join('');\nconst concatFilter = `${filterInputs}concat=n=${totalChunks}:v=0:a=1 [a]`;\n// Filters array\nconst filters = [{ filter: concatFilter }];\n// Outputs: map to [a], encode to MP3\nconst outputs = [\n  {\n    options: [\n      { option: \"-map\", argument: \"[a]\" },\n      { option: \"-c:a\", argument: \"libmp3lame\" },\n      { option: \"-b:a\", argument: \"128k\" }\n    ]\n  }\n];\n// Optional: Add global options like -y to overwrite, -strict -2, and increase probesize/analyzeduration\nconst globalOptions = [\n  { option: \"-y\" },\n  { option: \"-strict\", argument: \"-2\" },\n  { option: \"-probesize\", argument: \"50000000\" },\n  { option: \"-analyzeduration\", argument: \"100000000\" }\n];\n// Return the structured payload for /v1/ffmpeg/compose\nreturn [\n  {\n    json: {\n      inputs: inputs,\n      filters: filters,\n      outputs: outputs,\n      global_options: globalOptions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -112
      ],
      "id": "5f0d5f8c-a68a-4f7f-b3a4-27752fda4c67",
      "name": "Prepare Render API Input for Voiceover"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('trigger').item.json['Video Render API key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -112
      ],
      "id": "5a5b9a26-23bc-4747-999a-5b6ae12691e6",
      "name": "Merge Voiceover Chunks into One mp3 File"
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -112
      ],
      "id": "da6533ed-a260-4790-a35c-daee124ee26b",
      "name": "Download Finished Voiceover"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        736,
        -112
      ],
      "id": "443f9e60-0816-43e8-acb1-19c3325518d4",
      "name": "Upload Voiceover File to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $('Merge Voiceover Chunks into One mp3 File').first().json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}"
            },
            {
              "name": "language_code",
              "value": "de"
            },
            {
              "name": "punctuate",
              "value": "true"
            },
            {
              "name": "format_text",
              "value": "true"
            },
            {
              "name": "disfluencies",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        144
      ],
      "id": "1b825243-2613-4983-8a14-51d0d37d2679",
      "name": "Transcribe Audio (for Captions)"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        144
      ],
      "id": "7cd267e8-91c3-433e-a733-ce9863f734e8",
      "name": "Request Transcript"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/srt",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chars_per_caption",
              "value": "42"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        128
      ],
      "id": "dd00a11e-f00a-4d19-9e07-fa322addec24",
      "name": "Grab Transcript"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "srt",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        128
      ],
      "id": "ef6c3234-18e4-42ab-af32-2da05d6e77f1",
      "name": "JSON -> SRT-File"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        928,
        128
      ],
      "id": "bd3967bc-90b2-4e23-a7f1-76193d16da5b",
      "name": "Upload SRT-File to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Alternative version with transparency effect\nconst loopVideoUrl = $input.item.json['Loop Video Download URL'];\nconst audioUrl = $input.item.json['Voiceover Download URL'];\nconst overlayPath = $input.item.json['Overlay Download URL'];\nconst srtUrl = $input.item.json['SRT Download URL'];\n\nconst inputs = [\n  { file_url: loopVideoUrl }, // 0: background video\n  { file_url: audioUrl },     // 1: audio\n  { file_url: overlayPath }   // 2: overlay video\n];\n\nconst audioIndex = 1;\n\n// Build filter complex\nlet filterComplex = \"[0:v]loop=-1:size=1800:start=0[mainloop];\";\nfilterComplex += \"[2:v]loop=-1:size=481:start=0[overlayloop];\";\n// Use colorkey to make black transparent, then overlay\nfilterComplex += \"[overlayloop]colorkey=0x000000:0.3:0.1[keyed];\";\nfilterComplex += \"[mainloop][keyed]overlay=x=0:y=0[vout];\";\n// Add subtitles\nfilterComplex += `[vout]subtitles='${srtUrl}':force_style='FontSize=30,PrimaryColour=&H00FFFF&,Alignment=2'[vout]`;\n\nconst outputOptions = [\n  { option: \"-map\", argument: \"[vout]\" },\n  { option: \"-map\", argument: `${audioIndex}:a` },\n  { option: \"-c:v\", argument: \"libx264\" },\n  { option: \"-crf\", argument: \"23\" },\n  { option: \"-preset\", argument: \"medium\" },\n  { option: \"-c:a\", argument: \"aac\" },\n  { option: \"-b:a\", argument: \"192k\" },\n  { option: \"-shortest\" },\n  { option: \"-f\", argument: \"mp4\" }\n];\n\nconst payload = {\n  inputs: inputs,\n  filters: [\n    {\n      filter: filterComplex\n    }\n  ],\n  outputs: [\n    {\n      options: outputOptions\n    }\n  ],\n  metadata: {\n    thumbnail: true,\n    filesize: true,\n    duration: true,\n    bitrate: true,\n    encoder: true\n  },\n  id: \"composed_video_\" + Date.now()\n};\n\nreturn payload;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        448
      ],
      "id": "2f3d29fe-1909-4539-9564-9aa88ce18fd2",
      "name": "Prepare Render API Input for Final Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "447d00a7-f531-43e8-8e9e-611ec9903a93",
              "name": "Loop Video Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/clips/loop-video.mp4",
              "type": "string"
            },
            {
              "id": "d8f999bc-beb6-4fb7-974c-d5999c848ae4",
              "name": "Voiceover Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
              "type": "string"
            },
            {
              "id": "71278169-8dfe-4034-8bfd-fad3da34b5f2",
              "name": "SRT Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
              "type": "string"
            },
            {
              "id": "c025994b-d78b-4d2a-8833-5f2f7378a02c",
              "name": "Overlay Download URL OLD",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}youtube-channels/{{ $('trigger').first().json['Overlay Video'] }}",
              "type": "string"
            },
            {
              "id": "58a0e413-115e-4ec0-89fe-0374ed690e8e",
              "name": "Overlay Download URL",
              "value": "https://n8nt.mos.us-south-1.sufybkt.com/Glowing_particles_overlay_free_to_use_1080p.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        416
      ],
      "id": "edfea310-98af-4ca9-8ab7-159bc20dfb7c",
      "name": "Set Input Data for Final Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('trigger').item.json['Video Render API key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 2000000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        400
      ],
      "id": "2a371531-fd89-48d2-9d73-5c232c7332ec",
      "name": "Render Final Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        432
      ],
      "id": "d80e3bb1-4d10-4a21-aa55-674b7de58843",
      "name": "Download Final Video"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/{{ $('trigger').first().json['Project Name'] }}.mp4",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        432,
        656
      ],
      "id": "2d151eda-4410-453e-bec9-1004f2ff16b8",
      "name": "Upload Final Video to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Channel Table Name'] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('trigger').first().json.Id }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "=Done on {{ $now.format('dd/LL/yyyy') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        912,
        656
      ],
      "id": "6ab70983-bc6c-4acc-9004-ab934100b699",
      "name": "Set Project Status to \"Done\"",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://tahabou2002-myauntsgts.hf.space/webhook/bde9cf17-a83b-4eed-86f5-3177313910e2111454754",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        656
      ],
      "id": "02b657af-9f2c-41b8-9bcd-865f65f94aae",
      "name": "Start Organizer Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ADJUST THIS NUMBER TO FIX YOUR TIMING\n// ============================================\nconst SHIFT_MS = -600;  // Change this! Try -300, -500, -600, etc.\n// Negative = captions appear EARLIER\n// Positive = captions appear LATER\n// ============================================\n\n// Get your SRT data (adjust this line if needed)\nconst srtContent = $input.item.json.data;  \n// Other options:\n// const srtContent = $input.item.json[0].data;  // if format is [{\"data\": \"...\"}]\n// const srtContent = $input.item.json;  // if the whole input IS the SRT string\n\n// ==== YOU DON'T NEED TO TOUCH ANYTHING BELOW THIS LINE ====\n\n// Parse SRT timestamp to milliseconds\nfunction parseSrtTimestamp(timestamp) {\n    const parts = timestamp.split(':');\n    const hours = parseInt(parts[0]);\n    const minutes = parseInt(parts[1]);\n    const [seconds, milliseconds] = parts[2].split(',').map(n => parseInt(n));\n    return (hours * 3600000) + (minutes * 60000) + (seconds * 1000) + milliseconds;\n}\n\n// Format milliseconds to SRT timestamp\nfunction formatSrtTimestamp(totalMs) {\n    if (totalMs < 0) totalMs = 0;\n    const hours = Math.floor(totalMs / 3600000);\n    const minutes = Math.floor((totalMs % 3600000) / 60000);\n    const seconds = Math.floor((totalMs % 60000) / 1000);\n    const milliseconds = totalMs % 1000;\n    return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')},${String(milliseconds).padStart(3, '0')}`;\n}\n\nconsole.log(`Step 1: Shifting all timestamps by ${SHIFT_MS}ms`);\n\n// First, apply the time shift\nlet shiftedSrt = srtContent.replace(\n    /(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})/g,\n    (match, start, end) => {\n        const newStart = formatSrtTimestamp(parseSrtTimestamp(start) + SHIFT_MS);\n        const newEnd = formatSrtTimestamp(parseSrtTimestamp(end) + SHIFT_MS);\n        return `${newStart} --> ${newEnd}`;\n    }\n);\n\nconsole.log(`Step 2: Removing gaps between subtitles`);\n\n// Parse all subtitle blocks\nconst subtitleBlocks = [];\nconst blockPattern = /(\\d+)\\n(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})\\n([\\s\\S]*?)(?=\\n\\d+\\n|\\n*$)/g;\nlet match;\n\nwhile ((match = blockPattern.exec(shiftedSrt)) !== null) {\n    subtitleBlocks.push({\n        index: match[1],\n        start: match[2],\n        end: match[3],\n        text: match[4].trim()\n    });\n}\n\nconsole.log(`Found ${subtitleBlocks.length} subtitles`);\n\n// Extend each subtitle's end time to the next subtitle's start time\nfor (let i = 0; i < subtitleBlocks.length - 1; i++) {\n    const currentEnd = parseSrtTimestamp(subtitleBlocks[i].end);\n    const nextStart = parseSrtTimestamp(subtitleBlocks[i + 1].start);\n    \n    // Only extend if there's a gap (next starts after current ends)\n    if (nextStart > currentEnd) {\n        subtitleBlocks[i].end = subtitleBlocks[i + 1].start;\n    }\n}\n\n// Rebuild the SRT file\nlet correctedSrt = '';\nfor (let i = 0; i < subtitleBlocks.length; i++) {\n    const block = subtitleBlocks[i];\n    correctedSrt += `${block.index}\\n`;\n    correctedSrt += `${block.start} --> ${block.end}\\n`;\n    correctedSrt += `${block.text}\\n\\n`;\n}\n\n// Show example\nif (subtitleBlocks.length > 0) {\n    console.log(`Example of first subtitle:`);\n    console.log(`${subtitleBlocks[0].start} --> ${subtitleBlocks[0].end}`);\n    console.log(`Text: ${subtitleBlocks[0].text.substring(0, 50)}...`);\n}\n\n// Return the corrected SRT\nreturn { srt: correctedSrt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        128
      ],
      "id": "340af344-45fa-4bdc-b1b6-b36b13e6cdb9",
      "name": "Shift Transcript -600ms"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        144
      ],
      "id": "4e080bc7-dc4e-4beb-b01c-6515e622fd3d",
      "name": "Wait 20 Sec",
      "webhookId": "34ce6a35-62eb-46c2-8cf0-6992ac6d7071"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2D0waGOdkFP85jAg",
          "mode": "id",
          "cachedResultUrl": "/workflow/2D0waGOdkFP85jAg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        640
      ],
      "id": "0642e35c-1945-452e-97e7-19b95f60fd94",
      "name": "Voiceover Chunk Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        384
      ],
      "id": "318d8e6b-62f3-4221-b4e6-ff16dab70426",
      "name": "Loop Over Chunks"
    },
    {
      "parameters": {
        "content": "## 1. Voiceover Chunk Generation Loop (w/ Workers)",
        "height": 480,
        "width": 1424,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        368
      ],
      "id": "533fbc62-cfb9-4bba-b806-763f1d38fb6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 1.1 Wait for last Workers",
        "height": 256,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        64
      ],
      "id": "65080d44-50ec-48a0-a7d9-394bd67b4196",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2. Merge Voiceover Chunks into One File",
        "height": 240,
        "width": 1184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -160
      ],
      "id": "f090d8a3-92e1-4ab6-9fa9-97f1a5176b34",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3. Generate Transcript from Voiceover",
        "height": 256,
        "width": 1392,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "id": "b6e78788-6084-4c12-803b-07c0d2910a42",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 4. Render Final Video",
        "height": 480,
        "width": 992,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "a849d63d-5645-4ba5-ad7d-9f9649942ac4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 0. Start B-Roll Generation & Split Chunks",
        "height": 208,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        336
      ],
      "id": "9544ba2d-9268-49dd-b1e1-7079d120a57e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        448
      ],
      "id": "6a927039-54b1-421c-b60e-fa8e5f823d36",
      "name": "Wait",
      "webhookId": "7016881d-0c2d-4f7e-b7db-8a467e62dc5c"
    }
  ],
  "pinData": {
    "trigger": [
      {
        "json": {
          "Channel Table Name": "mgz8wkrrkbktpef",
          "Channel Base Name": "p7903f0ck8ocsqt",
          "Worker Table Name": "m0jfpnipilf8qr7",
          "Script": "Das kalte Metall der Mndung bohrt sich so tief in meine rechte Schlfe, dass ich das rhythmische Pulsieren meines eigenen Blutes gegen den Lauf spren kann. Hr auf dich zu wehren, es ist sowieso vorbei, zischt Sigrid mir direkt ins Ohr, und ihr heier, suerlicher Atem lsst mich schaudern, whrend das gleiende Wei der Neonrhren ber uns in einem wahnsinnigen Takt flackert. berall um uns herum heulen die Alarmsirenen der Zitadelle der Ewigkeit, ein ohrenbetubender, schriller Ton, der sich wie ein Bohrer in mein Gehirn frisst und jedes klare Denken fast unmglich macht. Ich schmecke Eisen, das warme Blut, das von einer Platzwunde an meiner Stirn langsam ber meine Lippen rinnt und in meinen Mundwinkel sickert. Der Boden unter meinen Knien bebt, ein tiefes, grollendes Erschttern, das ankndigt, dass die massiven Datentresore in den unteren Ebenen gerade unter dem Druck der berlastung bersten. Ich starre Sigrid direkt in ihre stahlblauen Augen, die keinerlei Reue oder menschliche Wrme zeigen, nur diese eiskalte, berechnende Arroganz der Matriarchin des Archivs. Du httest niemals zurckkehren sollen, Yvonne, presst sie hervor, und der Druck der Energie-Pistole gegen meinen Kopf nimmt noch zu, sodass mein ganzer Schdel schmerzt. Sie sieht mich an, als wre ich nur ein lstiges Insekt, das man endlich zerquetschen muss. Mein Blick huscht fr einen Bruchteil einer Sekunde zu Heinrich, der nur zwei Meter entfernt wie eine leblose Statue hinter seiner Mutter steht. Mein Herz hmmert gegen meine Rippen wie ein gefangener Vogel, der verzweifelt gegen die Gitterstbe schlgt. Heinrich, flstere ich, aber sein Name stirbt auf meinen trockenen Lippen. Er sieht mich nicht an. Seine Augen sind leer, zwei dunkle Abgrnde ohne Boden, in denen nichts mehr von dem Mann brig ist, den ich vor sieben Jahren geheiratet habe. Er gehrt jetzt mir, sagt Sigrid mit einer triumphierenden Klte in der Stimme, die mir eine Gnsehaut ber den gesamten Rcken jagt. Jede seiner Erinnerungen an dich wurde gelscht, Yvonne. Jedes Lachen, jeder Kuss, jeder Moment eurer gemeinsamen Zeit wurde durch absoluten, bedingungslosen Gehorsam ersetzt. Er ist jetzt das, was er schon immer sein sollte: mein Erbe, mein Werkzeug, mein Sohn. Ich spre, wie mir die Trnen in die Augen steigen, nicht vor Angst, sondern vor einer rasenden, brennenden Wut, die alles andere berlagert. Was zur Hlle hat sie mit ihm gemacht? Wie kann man einen Menschen so entkernen, dass nur noch eine funktionierende Hlle brig bleibt? In meiner rechten Jackentasche umklammern meine Finger den Dekodierungs-Stift, das khle, glatte Plastik fhlt sich in meiner schweinassen Hand fast fremd an. Ich wei, dass dies meine einzige und letzte Chance ist. Wenn ich jetzt versage, wird Heinrich fr immer verloren sein, ein Gefangener in seinem eigenen Verstand, kontrolliert von einer Frau, die ihre Machtgier ber die Liebe zu ihrem Kind gestellt hat. Die Zitadelle bebt erneut, diesmal heftiger, und von der Decke rieselt feiner Staub auf uns herab, der in den Lichtkegeln der flackernden Notbeleuchtung wie kleiner Diamantstaub aussieht. Ich sehe das blutige Lcheln auf meinem Gesicht im Spiegelbild einer verglasten Schalttafel und wei, dass ich furchtbar aussehen muss, aber das ist mir egal. Du hast vielleicht seine Vergangenheit gelscht, Sigrid, sage ich, und meine Stimme ist pltzlich fest und klar, trotz des Zitterns in meinen Gliedern. Aber ich werde seine Zukunft befreien. Sigrid lacht, ein kurzes, bellendes Gerusch, das in der riesigen Halle des Archivs widerhallt, zwischen all den gestohlenen Erinnerungen und den konservierten Leben von Tausenden von Menschen. Und wie willst du das anstellen, du kleine Rebellin? fragt sie hhnisch. Ich antworte nicht mit Worten. Mit einem pltzlichen Schrei, der all meinen Schmerz und meine Entschlossenheit in sich trgt, werfe ich mich mit meinem gesamten Krpergewicht zur Seite und nach unten. Der Schuss aus der Energie-Pistole peitscht ber mich hinweg, ein gleiender blauer Strahl, der die Luft mit dem beienden Geruch von Ozon erfllt und die Wand hinter mir in ein schmelzendes Loch verwandelt. Die Hitze versengt mir die Haare im Nacken, aber ich spre den Schmerz kaum. Ich schlage hart auf dem Metallboden auf, meine Knie knallen so heftig auf die harten Kanten der Bodenplatten, dass ich kurz vor Schmerz aufkeuchen muss, aber ich lasse den Stift nicht los. Ich rolle mich ab, greife nach dem zentralen Bodenkontakt des Hauptrechners, dessen Kabel wie dicke, pulsierende Schlangen ber den Boden verlaufen, und ramme die Metallspitze des Dekodierungs-Stifts mit aller Gewalt in die Schnittstelle. Ein gleiender Lichtbogen schiet aus der Verbindung hervor, weie Blitze zucken ber meinen Arm und jagen eine elektrische Entladung durch meinen gesamten Krper, die mich fr einen Moment taub werden lsst. Ich sehe nur noch Wei, hre nur noch ein tiefes, summendes Rauschen in meinen Ohren. Das Archiv beginnt zu schreien. Nicht menschlich, sondern technologisch. Ein infernalischer Lrm aus digitalen Verzerrungen und berstenden Servern erfllt den Raum. Ich liege keuchend auf dem Boden, mein Arm zuckt unkontrolliert, aber ich starre durch den Rauch und die Funken zu Heinrich. Sigrid taumelt zurck, ihre Pistole entgleitet ihren Fingern, whrend sie sich die Ohren zuhlt und vor Wut und Entsetzen kreischt. Das Leuchten in den Augen meines Mannes beginnt sich zu verndern. Das tiefe, unnatrliche Blau der Programmierung flackert, erlischt und macht einem chaotischen Wirbel aus Farben Platz. Heinrich hlt sich den Kopf, bricht in die Knie und stt einen Schrei aus, der mir das Mark in den Knochen gefrieren lsst. Es ist der Schrei eines Ertrinkenden, der zum ersten Mal wieder Luft schnappt. Ich versuche mich zu ihm zu schleppen, meine Beine fhlen sich an wie Blei, und jeder Zentimeter Boden, den ich gewinne, kostet mich unendliche Kraft. Die gesamte Zitadelle scheint jetzt auseinanderzufallen. Massive Stahltrger biegen sich mit einem chzenden Gerusch, das wie das Wehklagen eines sterbenden Riesen klingt. Staub und Trmmer fallen von der Decke, und ich sehe, wie die ersten Datentresore in sich zusammenstrzen und Millionen von Erinnerungen als digitales Rauschen in die Atmosphre entlassen. Sigrid versucht mich zu erreichen, ihre Gesichtsmaske der Beherrschung ist vllig zerfallen, sie sieht jetzt nur noch aus wie eine wahnsinnige alte Frau, deren Spielzeug gerade zerbrochen ist. Aber ich bin schneller. Ich erreiche Heinrich, greife nach seiner Hand, die eiskalt und schlaff ist. Heinrich, schau mich an, bete ich in meinem Kopf, whrend die Welt um uns herum in tausend Scherben zerfllt. Das rote Notlicht taucht alles in eine unheilvolle Atmosphre, und ich spre das Beben des Bodens bis in meine Zhne. Wir haben nur noch Sekunden, bis diese ganze Ebene kollabiert und uns unter Tonnen von Schutt und Silizium begrbt. Aber ich werde ihn nicht loslassen. Nicht jetzt, nicht hier, niemals wieder. Ich sehe, wie er den Kopf hebt, wie seine Augen langsam fokussieren, weg von der Leere, hin zu mir. Da ist ein Funken. Ein winziger, schwacher Funken von Erkennen, der tief in seinem Inneren aufflackert wie eine Kerze im Sturm. Er flstert etwas, das ich im Lrm der Zerstrung kaum verstehen kann, aber es fhlt sich an wie der schnste Klang der Welt. In diesem Moment ist mir klar, dass der Kampf gerade erst begonnen hat, aber die erste Schlacht gehrt uns. Ich spre, wie sich seine Finger ganz leicht um meine Hand schlieen, ein zgerlicher, schwacher Druck, der mir mehr bedeutet als alles andere auf dieser Welt. Hinter uns brllt Sigrid Befehle in ihr Kommunikationsgert, aber niemand antwortet ihr mehr. Das Imperium der Erinnerungen brennt ab, und wir sitzen im Zentrum des Feuers. Ich ziehe Heinrich an mich, versuche ihn aufzurichten, whrend ber uns eine gewaltige Glasplatte zerbricht und tausend scharfe Splitter wie ein tdlicher Regen auf uns herabstrzen. Es gibt keinen Weg zurck, nur noch nach vorne, mitten durch das Chaos. Mein Herz rast, mein Atem geht stoweise, und die Angst ist so greifbar wie der Schmutz auf meiner Haut. Aber whrend ich Heinrichs Gewicht spre, wei ich, dass ich bereit bin, durch die Hlle zu gehen, um ihn hier rauszuholen. Das hier ist kein Ende, es ist der blutige, gewaltsame Anfang von dem, was uns noch bevorsteht. Ich blicke ein letztes Mal zu Sigrid, die in den Trmmern ihrer Macht steht, und dann drehe ich mich um, bereit zu rennen, bereit zu kmpfen, bereit zu leben. Wir werden hier rauskommen, Heinrich, denke ich mir, und ich werde nicht aufhren, bis du dich wieder an alles erinnerst. Jedes Detail. Jedes Gefhl. Jede Sekunde unserer Freiheit. Die Zitadelle bebt ein letztes Mal so stark, dass wir beide fast das Gleichgewicht verlieren, und dann strzen wir los in die Dunkelheit der Korridore, whrend hinter uns die Decke des Thronsaals mit einem ohrenbetubenden Donnern endgltig in sich zusammenschlgt.\n\"Zieh den Kopf ein, Yvonne, oder die Rotoren hckseln dich zu Hackfleisch!\" Lukas zischt diese Warnung so leise, dass ich sie kaum durch das ohrenbetubende Drhnen der riesigen Belftungsanlage der Zitadelle verstehe. Mein ganzer Krper bebt, whrend ich mich flach auf den Bauch drcke und spre, wie der eiskalte Luftstrom ber meinen Rcken fegt und mir die Haare aus dem Nacken peitscht. Ich krieche durch diesen engen, rostigen Schacht, der nach altem Metall und chemischem Reinigungsmittel riecht, und frage mich zum hundertsten Mal in dieser Nacht, wie mein Leben so dermaen aus den Fugen geraten konnte. Vor sechs Monaten sa ich noch in unserer gemtlichen Altbauwohnung im Prenzlauer Berg, habe den Kaffee aufgebrht und gewartet, dass Heinrich vom Bcker zurckkommt, aber er kam nie wieder nach Hause. Statt frischer Schrippen gab es nur diese unertrgliche, ghnende Leere, die mich fast wahnsinnig gemacht hat. Wo zur Hlle war er hin? Die Polizei hat nichts gefunden, keine Spuren, kein Motiv, einfach gar nichts. Erst als ich anfing, auf eigene Faust in seinen alten Unterlagen zu graben, stie ich auf das Unvorstellbare: Seine Mutter Sigrid, von der er immer behauptet hatte, sie sei bei einem Autounfall gestorben, als er noch ein Kind war, ist die Architektin dieses grausamen Imperiums der Gedchtnis Ernte. Sie hat ihn nicht verloren, sie hat ihn sich zurckgeholt, ihn entfhrt und sein Gehirn wie eine Festplatte formatiert, nur um ihn wieder an sich zu binden. Mein Herz krampft sich zusammen, wenn ich an den Moment denke, als mir die Rebellen in den Ruinen von Alt Berlin die Wahrheit zeigten. Wir saen in diesem stinkenden Kellerloch unter dem Alexanderplatz, das Licht einer einzigen nackten Glhbirne tanzte ber die Karten der Zitadelle, whrend der Wind durch die zerstrten Fenster pfiff. Diese zerlumpten Gestalten, die in den U Bahn Schchten leben und gegen Sigrids Tyrannei kmpfen, waren meine einzige Hoffnung. Sie erzhlten mir von der Gedchtnis Ernte, davon, wie Sigrid die wertvollsten Momente der Menschen stiehlt, um daraus eine kontrollierbare Masse zu formen. Lukas, dieser geniale, aber vllig paranoide Techniker, schiebt sich vor mir weiter durch den Schacht und flucht leise vor sich hin. Seine Stirn ist schweinass, und seine Brille rutscht ihm stndig von der Nase, whrend er versucht, die Infrarotsensoren mit seinem handgemachten Strsender zu berlisten. Wir sind jetzt seit drei Stunden in diesem Labyrinth aus Blech und Kabeln unterwegs, und meine Knie sind lngst blutig gescheuert. Der Staub legt sich auf meine Lunge und lsst mich fast husten, aber ich muss mich beherrschen. Yvonne, wir sind fast da, flstert Lukas und deutet auf ein Gitter unter uns. Durch die Schlitze sehe ich das klinische Wei der oberen Etagen, diesen sterilen Albtraum, den Sigrid ihre Zitadelle nennt. Ich atme tief ein, versuche das Zittern in meinen Fingern zu kontrollieren und denke an Heinrich. Er ist irgendwo da drauen, in dieser knstlichen Welt, und er wei nicht einmal mehr, wer ich bin. Wie kann eine Mutter ihrem eigenen Kind so etwas antun? Wie kann man Liebe mit totaler Kontrolle verwechseln? Wir lassen uns lautlos in einen dunklen Wartungsgang gleiten, und die Stille hier ist fast noch schlimmer als der Lrm der Ventilatoren. Es riecht hier nach Ozon und klinischer Reinheit, ein Geruch, der mich fast krank macht. Jeder Schritt auf dem polierten Boden fhlt sich an wie ein Paukenschlag in dieser Kathedrale aus Glas und Stahl. Wir huschen an Patrouillen vorbei, die wie seelenlose Maschinen durch die Gnge marschieren, ihre Augen glhen in diesem unnatrlichen Blau, das jegliche Individualitt ausgelscht hat. Mein ganzer Krper steht unter Strom, Adrenalin pumpt durch meine Venen und lsst meine Schlfen hmmern, whrend wir uns immer tiefer in das Herz der Bestie vorarbeiten. Schlielich stehen wir vor der letzten, massiven Sicherheitstr, die uns noch vom Thronsaal und vom Hauptrechner trennt. Es ist eine massive Konstruktion aus schwarzem Karbon, die keine sichtbaren Schlsser oder Griffe besitzt. Lukas flucht leise, whrend er sein Entschlsselungsgert an das Terminal anschliet und die kryptischen Zeichenfolgen auf seinem Display beobachtet. Verdammt, Yvonne, das ist kein normaler Code, sagt er, und sein Gesicht wird im fahlen Licht des Bildschirms ganz bleich. Das System verlangt eine emotionale Authentifizierung. Es braucht hochgradig wertvolle, persnliche Daten, um den Riegel zu lsen. Es will eine Opfergabe. Ich starre ihn verstndslos an. Was meinst du mit Opfergabe? Lukas sieht mich mitleidig an, und in diesem Moment wird mir klar, was er meint. Das Archiv ernhrt sich von echten Erinnerungen, von der Energie, die bei ihrer Lschung freigesetzt wird. Um diese Tr zu ffnen, muss ich einen Teil von mir selbst aufgeben, einen Teil meiner Identitt in dieses kalte, hungrige System einspeisen. Ich muss meine glcklichsten Momente opfern, damit sie fr immer gelscht werden, nur um einen Schritt weiter zu kommen. Ein kalter Schauer luft mir ber den Rcken und lsst mich zittern. Wenn ich das tue, werde ich mich vielleicht nicht mehr daran erinnern, wie wir uns im Regen vor dem Brandenburger Tor das erste Mal geksst haben. Ich werde vergessen, wie Heinrich an unserem Hochzeitstag aussah, als die Sonne durch die Fenster der kleinen Kapelle schien und sein Lcheln so strahlend war, dass es mir den Atem raubte. Ich riskiere, mich selbst zu verlieren, noch bevor ich ihn retten kann. Ist es das wert? Kann eine Beziehung berleben, wenn nur noch einer von beiden die Wahrheit kennt? Aber dann sehe ich Heinrichs Gesicht vor meinem inneren Auge, wie er da steht, leer und fremd, ein Gefangener seiner eigenen Mutter, und ich wei, dass ich keine Wahl habe. Ohne zu zgern lege ich meine Hand auf den Sensor des Terminals, der unter meiner Berhrung knstlich warm wird. Ein brennender Schmerz schiet pltzlich durch meinen Arm, als wrde jemand mit einer glhenden Nadel tief in mein Bewusstsein stechen und dort herumwhlen. Ich sehe Bilder an mir vorbeiziehen, unsere erste gemeinsame Wohnung in Berlin, der Geruch von frisch gestrichenen Wnden, das Gefhl seiner Hand in meiner beim Wandern im Harz, die leisen Gesprche bis tief in die Nacht. Diese Momente werden grausam aus mir herausgerissen, wie Seiten aus einem wertvollen Buch, das man achtlos ins Feuer wirft. Ich schluchze laut auf, meine Knie geben nach, und ich spre, wie eine ghnende Schwrze in meinem Kopf dort entsteht, wo eben noch Wrme und Liebe war. Es fhlt sich an, als wrde ein Teil meiner Seele fr immer sterben und in den Datenstrmen der Zitadelle verschwinden. Lukas fngt mich gerade noch auf, bevor ich hart auf den Boden knalle. Die Tr gleitet mit einem leisen Zischen auf und gibt den Weg frei. Du hast es geschafft, flstert er voller Ehrfurcht und Schrecken zugleich, whrend er mir hilft, wieder auf die Beine zu kommen. Ich richte mich mhsam auf, wische mir die Trnen mit dem Handrcken aus dem Gesicht und merke mit Entsetzen, dass ich mich an den Grund fr meinen brennenden Schmerz schon nicht mehr genau erinnern kann. Da ist ein tiefes, schwarzes Loch in meinem Herzen, eine unbestimmte Sehnsucht nach etwas Wichtigem, das ich nicht mehr benennen kann. Aber der Hass auf Sigrid, der ist geblieben. Er ist jetzt noch strker, noch brennender, fast wie ein physisches Feuer in meiner Brust. Sie hat mir nicht nur meinen Mann genommen, sie hat mich gezwungen, mich selbst zu verstmmeln, um zu ihr vorzudringen. Mit wackeligen Beinen trete ich durch die geffnete Tr in das blendende, knstliche Licht des Thronsaals, den Dekodierungs Stift fest in meiner zitternden Hand umklammert. Ich spre, wie die Wut jede Faser meines Seins bernimmt und mich vorantreibt. Sigrid wird dafr bezahlen, das schwre ich mir. Sie wird fr jede gestohlene Sekunde, fr jedes geraubte Lcheln und fr diese schmerzhafte Leere in mir ben. Ich sehe Heinrich am Ende des Raumes stehen, er wirkt so weit weg, obwohl er nur ein paar Meter entfernt ist. Auch wenn ich mich nicht mehr an unseren ersten Kuss oder den Klang seiner Stimme an unserem Hochzeitstag erinnern kann, wei ich tief in meinem Inneren, dass er der einzige Grund ist, warum ich berhaupt noch atme. Ich bin bereit fr das Finale, koste es, was es wolle. Ich bin bereit, alles zu zerstren, was sie mit ihrem Wahnsinn aufgebaut hat, selbst wenn ich am Ende nur noch eine seelenlose Ruine meiner selbst bin. Die Alarmsirenen beginnen wieder zu heulen, ein schrilles Kreischen, das die Wnde zum Zittern bringt, aber diesmal klingen sie fr mich wie eine triumphale Siegeshymne. Ich renne los, die Pistolenmndung der Sicherheitsmnner, die jetzt auf mich zielen, ignoriere ich einfach mit einer Todesverachtung, die mich selbst berrascht. Mein Blick ist nur auf den Hauptrechner gerichtet, dieses leuchtende Monster aus Metall und Daten. Alles oder nichts, Yvonne, schreie ich innerlich, und strze mich kopfber in den Abgrund, in der verzweifelten Hoffnung, dass wir auf der anderen Seite gemeinsam wieder auftauchen und diese Hlle hinter uns lassen. Doch pltzlich packen mich starke Hnde am Hals und reien mich zurck, whrend das kalte Licht der Neonrhren ber mir flackert und Sigrid aus dem Schatten tritt.\n\n",
          "Storage Bucket": "n8nt",
          "Videos Folder Path": "german/family-drama/videos",
          "Project Name": "video-description-learn-how-to-perfectly-season-a-steak-with-our-foolproof-method-for-maximum-flavor-we-cover-everything-from-salt-and-pepper-to-advanced-techniques-for-a-restaurant-quality-meal-at-home-perfect-steak-seasoning-foolproof-flavor-method",
          "Overlay Video": "german/family-drama",
          "Video Render API": "https://tasil66-myspace.hf.space",
          "Video Render API key": "Tahabou",
          "Id": "2",
          "Storage Bucket PUBLIC URL": "https://n8nt.mos.us-south-1.sufybkt.com/"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-21T11:11:21.376Z",
      "createdAt": "2025-12-21T11:11:21.376Z",
      "role": "workflow:owner",
      "workflowId": "mKyncW0fgoASQT11",
      "projectId": "Sz2vPJqZDAwEzZJp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T19:14:44.646Z",
  "versionId": "67a79fa9-0e87-4010-8d1b-81ac534419da"
}