workflows/mKyncW0fgoASQT11.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-12T07:49:06.070Z",
    "createdAt": "2026-01-12T07:48:58.051Z",
    "versionId": "17b91777-f910-4239-867d-93c50de50b49",
    "workflowId": "mKyncW0fgoASQT11",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1792,
          384
        ],
        "id": "b446e975-4d83-4723-b957-7309df01189f",
        "name": "trigger"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Worker Status"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -672,
          112
        ],
        "id": "91d8e9e0-16ac-4e76-9b12-362150201518",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "71a247f5-23dd-47be-bd3c-6e880f9191ae"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "completed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3b5c4917-38c4-42a0-aa23-e86e457e7001",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "processing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          208,
          144
        ],
        "id": "b2b71e52-147b-49d0-a443-c68aaf0c0299",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZLTAlAT3XEWPANef",
            "mode": "id",
            "cachedResultUrl": "/workflow/ZLTAlAT3XEWPANef"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1616,
          384
        ],
        "id": "b51a960f-9596-46f9-bfa4-90f550cc3532",
        "name": "B-Roll Image Generation"
      },
      {
        "parameters": {
          "jsCode": "// Access the input script from the trigger node\nconst script = $('trigger').first().json.Script;\n\n// Function to split the text into sentences, preserving punctuation and following whitespace\nfunction splitIntoSentences(text) {\n  const sentences = [];\n  let start = 0;\n  const regex = /([.!?])(\\s+)/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    sentences.push(text.substring(start, match.index + match[0].length));\n    start = match.index + match[0].length;\n  }\n  if (start < text.length) {\n    sentences.push(text.substring(start));\n  }\n  return sentences;\n}\n\n// Chunking parameters: aim for around 1300 characters, allowing up to +50 to finish a sentence\nconst targetSize = 1300;\nconst maxSize = targetSize + 50;\n\n// Split the script into sentences\nconst sentences = splitIntoSentences(script);\n\n// Build chunk texts\nconst chunkTexts = [];\nlet currentChunk = '';\n\nfor (let sentence of sentences) {\n  if (currentChunk.length + sentence.length <= maxSize) {\n    currentChunk += sentence;\n  } else {\n    if (currentChunk.length > 0) {\n      chunkTexts.push(currentChunk);\n    }\n    currentChunk = sentence;\n  }\n}\n\n// Add the last chunk text if any\nif (currentChunk.length > 0) {\n  chunkTexts.push(currentChunk);\n}\n\n// Now create chunks with total\nconst totalChunks = chunkTexts.length;\nconst chunks = chunkTexts.map((text, index) => ({\n  json: {\n    chunkNumber: index + 1,\n    totalChunks,\n    text\n  }\n}));\n\nreturn chunks;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          384
        ],
        "id": "21b87f60-2f1a-4cb7-b839-536fd54a520f",
        "name": "Split Script into Chunks"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "33df23a1-d16d-4bc6-b58d-28c77cff43db",
                "name": "Chunk Number",
                "value": "={{ $json.chunkNumber }}",
                "type": "string"
              },
              {
                "id": "66f7e28f-e27d-41f0-a72a-76ad20192b48",
                "name": "Chunk Script",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1008,
          416
        ],
        "id": "b6ad70a0-1554-47ae-bc67-b61a6af777f4",
        "name": "Chunk Data"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -880,
          528
        ],
        "id": "95a57c3f-99e8-4fea-a2e0-27dcdd825c9b",
        "name": "Get All Workers",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Worker Status'] }}",
                      "rightValue": "Ready",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Worker Available"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                      "leftValue": "={{ $json['Worker Status'] }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Workers Busy"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -704,
          528
        ],
        "id": "723119dc-c097-482a-8bd2-19e2a26081f0",
        "name": "Check for \"Ready\" Workers"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -560,
          624
        ],
        "id": "cce71ea9-c714-4685-8606-f8087cdb4317",
        "name": "Limit"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -400,
          624
        ],
        "id": "f0dcf2e4-f406-4ddf-aa14-5c14e5c19fbd",
        "name": "Check Again in 10 Sec",
        "webhookId": "de157212-b0bf-4ed3-9441-a84bb32a46e1"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -400,
          448
        ],
        "id": "1012d66d-62db-48f8-95b9-99d4e6ddf98a",
        "name": "Get Worker"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa199097-ca6c-43d7-afce-a0a70be62df9",
                "name": "Chunk Number",
                "value": "={{ $json['Chunk Number'] }}",
                "type": "string"
              },
              {
                "id": "78ce07e7-2794-4988-9db1-49bd96a2c0b9",
                "name": "Chunk Script",
                "value": "={{ $json['Chunk Script'] }}",
                "type": "string"
              },
              {
                "id": "6bc794a0-4836-4290-85cd-165832d48cd0",
                "name": "Id",
                "value": "={{ $json.Id }}",
                "type": "string"
              },
              {
                "id": "6269efef-c1ff-4cd4-9317-f8d66482ab9a",
                "name": "Worker Table Name",
                "value": "={{ $('trigger').first().json['Worker Table Name'] }}",
                "type": "string"
              },
              {
                "id": "df32d451-72bc-4271-abcb-4c5ba918c89c",
                "name": "Channel Base Name",
                "value": "={{ $('trigger').first().json['Channel Base Name'] }}",
                "type": "string"
              },
              {
                "id": "c457a9b5-4cb7-4849-97a5-34f307a163d9",
                "name": "Storage Bucket",
                "value": "={{ $('trigger').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "097bbfc8-7d42-45e3-8a81-a5d5e0be2df5",
                "name": "Videos Folder Path",
                "value": "={{ $('trigger').first().json['Videos Folder Path'] }}",
                "type": "string"
              },
              {
                "id": "aaa6455c-a926-4561-9c43-a852b841b577",
                "name": "Project Name",
                "value": "={{ $('trigger').first().json['Project Name'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -176,
          384
        ],
        "id": "fa051723-2b7b-415b-9ea1-1dc603868065",
        "name": "Set Input Data for Chunk"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Id",
                "fieldValue": "={{ $json.Id }}"
              },
              {
                "fieldName": "=Worker Status",
                "fieldValue": "Processing"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -176,
          544
        ],
        "id": "33309342-078d-497a-85de-e7b98a53bd87",
        "name": "Set Status from \"Ready\" to \"Processing\"",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          32,
          464
        ],
        "id": "e9f67d3c-dcd1-495e-bf4b-aaf7a902cd60",
        "name": "Wait for both Paths to Finish"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -960,
          112
        ],
        "id": "827cedac-7e1f-459f-9989-a9af48df65c1",
        "name": "Wait 30 Sec",
        "webhookId": "f31a5214-e4a8-47c0-9020-41496b80676b"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          -816,
          112
        ],
        "id": "1be3bfe9-2cd1-4813-8216-526dfc49ede2",
        "name": "Grab All Workers",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "notContains"
                      },
                      "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Worker Available"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                      "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Workers Busy"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -512,
          112
        ],
        "id": "85b786df-9072-44cd-a88a-79a22c505965",
        "name": "Check Worker Status"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1104,
          112
        ],
        "id": "cb1be070-bfa0-497d-a0d0-68fbbdac9c58",
        "name": "Limit1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ecfcc336-1d1b-4d7e-9c03-712d555279e1",
                "name": "Total Chunk Number",
                "value": "={{ $('Split Script into Chunks').first().json.totalChunks }}",
                "type": "string"
              },
              {
                "id": "ad6c14d5-7fd0-40d9-923c-827fb5e41570",
                "name": "Voiceover Chunk Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          -112
        ],
        "id": "7143986f-8f98-4a71-b7c5-28ac1fcae4bd",
        "name": "Set Input Data for Voiceover Processing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -240,
          -112
        ],
        "id": "e394469c-f78e-4787-bddb-5a16b2e28476",
        "name": "Limit2"
      },
      {
        "parameters": {
          "jsCode": "// Assuming input is a single item with json like your data:\n// { \"Total Chunk Number\": \"6\", \"Voiceover Chunk Download URL\": \"http://...\" }\n// If your input is an array, access items[0].json\nconst data = items[0].json; // Or adjust if multiple items\nconst totalChunks = parseInt(data[\"Total Chunk Number\"], 10);\nconst basePath = data[\"Voiceover Chunk Download URL\"];\n// Generate input objects: [{ file_url: basePath + \"audio-chunk-1.mp3\", options: [{option: \"-f\", argument: \"mp3\"}] }, ...]\nconst inputs = [];\nfor (let i = 1; i <= totalChunks; i++) {\n  inputs.push({\n    file_url: `${basePath}audio-chunk-${i}.wav`,\n    options: [{ option: \"-f\", argument: \"mp3\" }]\n  });\n}\n// Build the filter_complex string for audio concatenation: [0:a][1:a]...concat=n=total:v=0:a=1 [a]\nconst filterInputs = inputs.map((_, index) => `[${index}:a]`).join('');\nconst concatFilter = `${filterInputs}concat=n=${totalChunks}:v=0:a=1 [a]`;\n// Filters array\nconst filters = [{ filter: concatFilter }];\n// Outputs: map to [a], encode to MP3\nconst outputs = [\n  {\n    options: [\n      { option: \"-map\", argument: \"[a]\" },\n      { option: \"-c:a\", argument: \"libmp3lame\" },\n      { option: \"-b:a\", argument: \"128k\" }\n    ]\n  }\n];\n// Optional: Add global options like -y to overwrite, -strict -2, and increase probesize/analyzeduration\nconst globalOptions = [\n  { option: \"-y\" },\n  { option: \"-strict\", argument: \"-2\" },\n  { option: \"-probesize\", argument: \"50000000\" },\n  { option: \"-analyzeduration\", argument: \"100000000\" }\n];\n// Return the structured payload for /v1/ffmpeg/compose\nreturn [\n  {\n    json: {\n      inputs: inputs,\n      filters: filters,\n      outputs: outputs,\n      global_options: globalOptions\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -112
        ],
        "id": "5f0d5f8c-a68a-4f7f-b3a4-27752fda4c67",
        "name": "Prepare Render API Input for Voiceover"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $('trigger').item.json['Video Render API key'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          336,
          -112
        ],
        "id": "5a5b9a26-23bc-4747-999a-5b6ae12691e6",
        "name": "Merge Voiceover Chunks into One mp3 File"
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -112
        ],
        "id": "da6533ed-a260-4790-a35c-daee124ee26b",
        "name": "Download Finished Voiceover"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          736,
          -112
        ],
        "id": "443f9e60-0816-43e8-acb1-19c3325518d4",
        "name": "Upload Voiceover File to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.assemblyai.com/v2/transcript",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "audio_url",
                "value": "={{ $('Merge Voiceover Chunks into One mp3 File').first().json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}"
              },
              {
                "name": "language_code",
                "value": "de"
              },
              {
                "name": "punctuate",
                "value": "true"
              },
              {
                "name": "format_text",
                "value": "true"
              },
              {
                "name": "disfluencies",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -240,
          144
        ],
        "id": "1b825243-2613-4983-8a14-51d0d37d2679",
        "name": "Transcribe Audio (for Captions)"
      },
      {
        "parameters": {
          "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          64,
          144
        ],
        "id": "7cd267e8-91c3-433e-a733-ce9863f734e8",
        "name": "Request Transcript"
      },
      {
        "parameters": {
          "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/srt",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "chars_per_caption",
                "value": "42"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "65edf19c9f8e410da437e33eece8b324"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          128
        ],
        "id": "dd00a11e-f00a-4d19-9e07-fa322addec24",
        "name": "Grab Transcript"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "srt",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          752,
          128
        ],
        "id": "ef6c3234-18e4-42ab-af32-2da05d6e77f1",
        "name": "JSON -> SRT-File"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          928,
          128
        ],
        "id": "bd3967bc-90b2-4e23-a7f1-76193d16da5b",
        "name": "Upload SRT-File to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Alternative version with transparency effect\nconst loopVideoUrl = $input.item.json['Loop Video Download URL'];\nconst audioUrl = $input.item.json['Voiceover Download URL'];\nconst overlayPath = $input.item.json['Overlay Download URL'];\nconst srtUrl = $input.item.json['SRT Download URL'];\n\nconst inputs = [\n  { file_url: loopVideoUrl }, // 0: background video\n  { file_url: audioUrl },     // 1: audio\n  { file_url: overlayPath }   // 2: overlay video\n];\n\nconst audioIndex = 1;\n\n// Build filter complex\nlet filterComplex = \"[0:v]loop=-1:size=1800:start=0[mainloop];\";\nfilterComplex += \"[2:v]loop=-1:size=481:start=0[overlayloop];\";\n// Use colorkey to make black transparent, then overlay\nfilterComplex += \"[overlayloop]colorkey=0x000000:0.3:0.1[keyed];\";\nfilterComplex += \"[mainloop][keyed]overlay=x=0:y=0[vout];\";\n// Add subtitles\nfilterComplex += `[vout]subtitles='${srtUrl}':force_style='FontSize=30,PrimaryColour=&H00FFFF&,Alignment=2'[vout]`;\n\nconst outputOptions = [\n  { option: \"-map\", argument: \"[vout]\" },\n  { option: \"-map\", argument: `${audioIndex}:a` },\n  { option: \"-c:v\", argument: \"libx264\" },\n  { option: \"-crf\", argument: \"23\" },\n  { option: \"-preset\", argument: \"medium\" },\n  { option: \"-c:a\", argument: \"aac\" },\n  { option: \"-b:a\", argument: \"192k\" },\n  { option: \"-shortest\" },\n  { option: \"-f\", argument: \"mp4\" }\n];\n\nconst payload = {\n  inputs: inputs,\n  filters: [\n    {\n      filter: filterComplex\n    }\n  ],\n  outputs: [\n    {\n      options: outputOptions\n    }\n  ],\n  metadata: {\n    thumbnail: true,\n    filesize: true,\n    duration: true,\n    bitrate: true,\n    encoder: true\n  },\n  id: \"composed_video_\" + Date.now()\n};\n\nreturn payload;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          448
        ],
        "id": "2f3d29fe-1909-4539-9564-9aa88ce18fd2",
        "name": "Prepare Render API Input for Final Video"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "447d00a7-f531-43e8-8e9e-611ec9903a93",
                "name": "Loop Video Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/clips/loop-video.mp4",
                "type": "string"
              },
              {
                "id": "d8f999bc-beb6-4fb7-974c-d5999c848ae4",
                "name": "Voiceover Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
                "type": "string"
              },
              {
                "id": "71278169-8dfe-4034-8bfd-fad3da34b5f2",
                "name": "SRT Download URL",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
                "type": "string"
              },
              {
                "id": "c025994b-d78b-4d2a-8833-5f2f7378a02c",
                "name": "Overlay Download URL OLD",
                "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}youtube-channels/{{ $('trigger').first().json['Overlay Video'] }}",
                "type": "string"
              },
              {
                "id": "58a0e413-115e-4ec0-89fe-0374ed690e8e",
                "name": "Overlay Download URL",
                "value": "https://n8nt.mos.us-south-1.sufybkt.com/Glowing_particles_overlay_free_to_use_1080p.mp4",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          416
        ],
        "id": "edfea310-98af-4ca9-8ab7-159bc20dfb7c",
        "name": "Set Input Data for Final Video"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $('trigger').item.json['Video Render API key'] }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 2000000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          400
        ],
        "id": "2a371531-fd89-48d2-9d73-5c232c7332ec",
        "name": "Render Final Video",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1216,
          432
        ],
        "id": "d80e3bb1-4d10-4a21-aa55-674b7de58843",
        "name": "Download Final Video"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/{{ $('trigger').first().json['Project Name'] }}.mp4",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          432,
          656
        ],
        "id": "2d151eda-4410-453e-bec9-1004f2ff16b8",
        "name": "Upload Final Video to Project",
        "credentials": {
          "s3": {
            "id": "K3Ji1vSaw4y5ofv7",
            "name": "German Family Drama - S3 account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": "wtu1usuc",
          "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
          "table": "={{ $('trigger').first().json['Channel Table Name'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Id",
                "fieldValue": "={{ $('trigger').first().json.Id }}"
              },
              {
                "fieldName": "Status",
                "fieldValue": "=Done on {{ $now.format('dd/LL/yyyy') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          912,
          656
        ],
        "id": "6ab70983-bc6c-4acc-9004-ab934100b699",
        "name": "Set Project Status to \"Done\"",
        "credentials": {
          "nocoDbApiToken": {
            "id": "JoY3JTA7ut2SRv1l",
            "name": "German Family Drama - NocoDB"
          }
        }
      },
      {
        "parameters": {
          "url": "https://tahabou2002-myauntsgts.hf.space/webhook/bde9cf17-a83b-4eed-86f5-3177313910e2111454754",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          656
        ],
        "id": "02b657af-9f2c-41b8-9bcd-865f65f94aae",
        "name": "Start Organizer Workflow"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// ADJUST THIS NUMBER TO FIX YOUR TIMING\n// ============================================\nconst SHIFT_MS = -600;  // Change this! Try -300, -500, -600, etc.\n// Negative = captions appear EARLIER\n// Positive = captions appear LATER\n// ============================================\n\n// Get your SRT data (adjust this line if needed)\nconst srtContent = $input.item.json.data;  \n// Other options:\n// const srtContent = $input.item.json[0].data;  // if format is [{\"data\": \"...\"}]\n// const srtContent = $input.item.json;  // if the whole input IS the SRT string\n\n// ==== YOU DON'T NEED TO TOUCH ANYTHING BELOW THIS LINE ====\n\n// Parse SRT timestamp to milliseconds\nfunction parseSrtTimestamp(timestamp) {\n    const parts = timestamp.split(':');\n    const hours = parseInt(parts[0]);\n    const minutes = parseInt(parts[1]);\n    const [seconds, milliseconds] = parts[2].split(',').map(n => parseInt(n));\n    return (hours * 3600000) + (minutes * 60000) + (seconds * 1000) + milliseconds;\n}\n\n// Format milliseconds to SRT timestamp\nfunction formatSrtTimestamp(totalMs) {\n    if (totalMs < 0) totalMs = 0;\n    const hours = Math.floor(totalMs / 3600000);\n    const minutes = Math.floor((totalMs % 3600000) / 60000);\n    const seconds = Math.floor((totalMs % 60000) / 1000);\n    const milliseconds = totalMs % 1000;\n    return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')},${String(milliseconds).padStart(3, '0')}`;\n}\n\nconsole.log(`Step 1: Shifting all timestamps by ${SHIFT_MS}ms`);\n\n// First, apply the time shift\nlet shiftedSrt = srtContent.replace(\n    /(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})/g,\n    (match, start, end) => {\n        const newStart = formatSrtTimestamp(parseSrtTimestamp(start) + SHIFT_MS);\n        const newEnd = formatSrtTimestamp(parseSrtTimestamp(end) + SHIFT_MS);\n        return `${newStart} --> ${newEnd}`;\n    }\n);\n\nconsole.log(`Step 2: Removing gaps between subtitles`);\n\n// Parse all subtitle blocks\nconst subtitleBlocks = [];\nconst blockPattern = /(\\d+)\\n(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})\\n([\\s\\S]*?)(?=\\n\\d+\\n|\\n*$)/g;\nlet match;\n\nwhile ((match = blockPattern.exec(shiftedSrt)) !== null) {\n    subtitleBlocks.push({\n        index: match[1],\n        start: match[2],\n        end: match[3],\n        text: match[4].trim()\n    });\n}\n\nconsole.log(`Found ${subtitleBlocks.length} subtitles`);\n\n// Extend each subtitle's end time to the next subtitle's start time\nfor (let i = 0; i < subtitleBlocks.length - 1; i++) {\n    const currentEnd = parseSrtTimestamp(subtitleBlocks[i].end);\n    const nextStart = parseSrtTimestamp(subtitleBlocks[i + 1].start);\n    \n    // Only extend if there's a gap (next starts after current ends)\n    if (nextStart > currentEnd) {\n        subtitleBlocks[i].end = subtitleBlocks[i + 1].start;\n    }\n}\n\n// Rebuild the SRT file\nlet correctedSrt = '';\nfor (let i = 0; i < subtitleBlocks.length; i++) {\n    const block = subtitleBlocks[i];\n    correctedSrt += `${block.index}\\n`;\n    correctedSrt += `${block.start} --> ${block.end}\\n`;\n    correctedSrt += `${block.text}\\n\\n`;\n}\n\n// Show example\nif (subtitleBlocks.length > 0) {\n    console.log(`Example of first subtitle:`);\n    console.log(`${subtitleBlocks[0].start} --> ${subtitleBlocks[0].end}`);\n    console.log(`Text: ${subtitleBlocks[0].text.substring(0, 50)}...`);\n}\n\n// Return the corrected SRT\nreturn { srt: correctedSrt };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          128
        ],
        "id": "340af344-45fa-4bdc-b1b6-b36b13e6cdb9",
        "name": "Shift Transcript -600ms"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -80,
          144
        ],
        "id": "4e080bc7-dc4e-4beb-b01c-6515e622fd3d",
        "name": "Wait 20 Sec",
        "webhookId": "34ce6a35-62eb-46c2-8cf0-6992ac6d7071"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "2D0waGOdkFP85jAg",
            "mode": "id",
            "cachedResultUrl": "/workflow/2D0waGOdkFP85jAg"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          208,
          640
        ],
        "id": "0642e35c-1945-452e-97e7-19b95f60fd94",
        "name": "Voiceover Chunk Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1200,
          384
        ],
        "id": "318d8e6b-62f3-4221-b4e6-ff16dab70426",
        "name": "Loop Over Chunks"
      },
      {
        "parameters": {
          "content": "## 1. Voiceover Chunk Generation Loop (w/ Workers)",
          "height": 480,
          "width": 1424,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1056,
          368
        ],
        "id": "533fbc62-cfb9-4bba-b806-763f1d38fb6f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 1.1 Wait for last Workers",
          "height": 256,
          "width": 864,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1168,
          64
        ],
        "id": "65080d44-50ec-48a0-a7d9-394bd67b4196",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 2. Merge Voiceover Chunks into One File",
          "height": 240,
          "width": 1184,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          -160
        ],
        "id": "f090d8a3-92e1-4ab6-9fa9-97f1a5176b34",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## 3. Generate Transcript from Voiceover",
          "height": 256,
          "width": 1392,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          96
        ],
        "id": "b6e78788-6084-4c12-803b-07c0d2910a42",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## 4. Render Final Video",
          "height": 480,
          "width": 992,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          384,
          368
        ],
        "id": "a849d63d-5645-4ba5-ad7d-9f9649942ac4",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## 0. Start B-Roll Generation & Split Chunks",
          "height": 208,
          "width": 736,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1808,
          336
        ],
        "id": "9544ba2d-9268-49dd-b1e1-7079d120a57e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          816,
          448
        ],
        "id": "6a927039-54b1-421c-b60e-fa8e5f823d36",
        "name": "Wait",
        "webhookId": "7016881d-0c2d-4f7e-b7db-8a467e62dc5c"
      }
    ],
    "connections": {
      "trigger": {
        "main": [
          [
            {
              "node": "B-Roll Image Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Check Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Grab Transcript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 20 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B-Roll Image Generation": {
        "main": [
          [
            {
              "node": "Split Script into Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Script into Chunks": {
        "main": [
          [
            {
              "node": "Loop Over Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Data": {
        "main": [
          [
            {
              "node": "Get Worker",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Workers": {
        "main": [
          [
            {
              "node": "Check for \"Ready\" Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for \"Ready\" Workers": {
        "main": [
          [
            {
              "node": "Get Worker",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Check Again in 10 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Again in 10 Sec": {
        "main": [
          [
            {
              "node": "Get All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Worker": {
        "main": [
          [
            {
              "node": "Set Input Data for Chunk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Status from \"Ready\" to \"Processing\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Chunk": {
        "main": [
          [
            {
              "node": "Wait for both Paths to Finish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status from \"Ready\" to \"Processing\"": {
        "main": [
          [
            {
              "node": "Wait for both Paths to Finish",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wait for both Paths to Finish": {
        "main": [
          [
            {
              "node": "Voiceover Chunk Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30 Sec": {
        "main": [
          [
            {
              "node": "Grab All Workers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grab All Workers": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Worker Status": {
        "main": [
          [
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Wait 30 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Voiceover Processing": {
        "main": [
          [
            {
              "node": "Prepare Render API Input for Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit2": {
        "main": [
          [
            {
              "node": "Set Input Data for Voiceover Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render API Input for Voiceover": {
        "main": [
          [
            {
              "node": "Merge Voiceover Chunks into One mp3 File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Voiceover Chunks into One mp3 File": {
        "main": [
          [
            {
              "node": "Download Finished Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Finished Voiceover": {
        "main": [
          [
            {
              "node": "Upload Voiceover File to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Voiceover File to Project": {
        "main": [
          [
            {
              "node": "Transcribe Audio (for Captions)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Audio (for Captions)": {
        "main": [
          [
            {
              "node": "Wait 20 Sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request Transcript": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grab Transcript": {
        "main": [
          [
            {
              "node": "Shift Transcript -600ms",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON -> SRT-File": {
        "main": [
          [
            {
              "node": "Upload SRT-File to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload SRT-File to Project": {
        "main": [
          [
            {
              "node": "Set Input Data for Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render API Input for Final Video": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Data for Final Video": {
        "main": [
          [
            {
              "node": "Prepare Render API Input for Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Final Video": {
        "main": [
          [
            {
              "node": "Download Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Final Video": {
        "main": [
          [
            {
              "node": "Upload Final Video to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Final Video to Project": {
        "main": [
          [
            {
              "node": "Set Project Status to \"Done\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Project Status to \"Done\"": {
        "main": [
          [
            {
              "node": "Start Organizer Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shift Transcript -600ms": {
        "main": [
          [
            {
              "node": "JSON -> SRT-File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 20 Sec": {
        "main": [
          [
            {
              "node": "Request Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voiceover Chunk Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Chunks": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Chunk Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Render Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "taha bouras",
    "name": "Version 17b91777",
    "description": ""
  },
  "activeVersionId": "17b91777-f910-4239-867d-93c50de50b49",
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "B-Roll Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Grab Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B-Roll Image Generation": {
      "main": [
        [
          {
            "node": "Split Script into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Script into Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Data": {
      "main": [
        [
          {
            "node": "Get Worker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workers": {
      "main": [
        [
          {
            "node": "Check for \"Ready\" Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for \"Ready\" Workers": {
      "main": [
        [
          {
            "node": "Get Worker",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check Again in 10 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Again in 10 Sec": {
      "main": [
        [
          {
            "node": "Get All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Worker": {
      "main": [
        [
          {
            "node": "Set Input Data for Chunk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Status from \"Ready\" to \"Processing\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Chunk": {
      "main": [
        [
          {
            "node": "Wait for both Paths to Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status from \"Ready\" to \"Processing\"": {
      "main": [
        [
          {
            "node": "Wait for both Paths to Finish",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for both Paths to Finish": {
      "main": [
        [
          {
            "node": "Voiceover Chunk Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Sec": {
      "main": [
        [
          {
            "node": "Grab All Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab All Workers": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Worker Status": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Wait 30 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Voiceover Processing": {
      "main": [
        [
          {
            "node": "Prepare Render API Input for Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Set Input Data for Voiceover Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render API Input for Voiceover": {
      "main": [
        [
          {
            "node": "Merge Voiceover Chunks into One mp3 File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Voiceover Chunks into One mp3 File": {
      "main": [
        [
          {
            "node": "Download Finished Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Finished Voiceover": {
      "main": [
        [
          {
            "node": "Upload Voiceover File to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Voiceover File to Project": {
      "main": [
        [
          {
            "node": "Transcribe Audio (for Captions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (for Captions)": {
      "main": [
        [
          {
            "node": "Wait 20 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Transcript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Transcript": {
      "main": [
        [
          {
            "node": "Shift Transcript -600ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON -> SRT-File": {
      "main": [
        [
          {
            "node": "Upload SRT-File to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload SRT-File to Project": {
      "main": [
        [
          {
            "node": "Set Input Data for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render API Input for Final Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data for Final Video": {
      "main": [
        [
          {
            "node": "Prepare Render API Input for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Final Video": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload Final Video to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video to Project": {
      "main": [
        [
          {
            "node": "Set Project Status to \"Done\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Project Status to \"Done\"": {
      "main": [
        [
          {
            "node": "Start Organizer Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shift Transcript -600ms": {
      "main": [
        [
          {
            "node": "JSON -> SRT-File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Sec": {
      "main": [
        [
          {
            "node": "Request Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voiceover Chunk Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Chunks": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Render Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-21T11:11:21.376Z",
  "id": "mKyncW0fgoASQT11",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "4. Video Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1792,
        384
      ],
      "id": "b446e975-4d83-4723-b957-7309df01189f",
      "name": "trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Worker Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        112
      ],
      "id": "91d8e9e0-16ac-4e76-9b12-362150201518",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "71a247f5-23dd-47be-bd3c-6e880f9191ae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b5c4917-38c4-42a0-aa23-e86e457e7001",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        144
      ],
      "id": "b2b71e52-147b-49d0-a443-c68aaf0c0299",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZLTAlAT3XEWPANef",
          "mode": "id",
          "cachedResultUrl": "/workflow/ZLTAlAT3XEWPANef"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1616,
        384
      ],
      "id": "b51a960f-9596-46f9-bfa4-90f550cc3532",
      "name": "B-Roll Image Generation"
    },
    {
      "parameters": {
        "jsCode": "// Access the input script from the trigger node\nconst script = $('trigger').first().json.Script;\n\n// Function to split the text into sentences, preserving punctuation and following whitespace\nfunction splitIntoSentences(text) {\n  const sentences = [];\n  let start = 0;\n  const regex = /([.!?])(\\s+)/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    sentences.push(text.substring(start, match.index + match[0].length));\n    start = match.index + match[0].length;\n  }\n  if (start < text.length) {\n    sentences.push(text.substring(start));\n  }\n  return sentences;\n}\n\n// Chunking parameters: aim for around 1300 characters, allowing up to +50 to finish a sentence\nconst targetSize = 1300;\nconst maxSize = targetSize + 50;\n\n// Split the script into sentences\nconst sentences = splitIntoSentences(script);\n\n// Build chunk texts\nconst chunkTexts = [];\nlet currentChunk = '';\n\nfor (let sentence of sentences) {\n  if (currentChunk.length + sentence.length <= maxSize) {\n    currentChunk += sentence;\n  } else {\n    if (currentChunk.length > 0) {\n      chunkTexts.push(currentChunk);\n    }\n    currentChunk = sentence;\n  }\n}\n\n// Add the last chunk text if any\nif (currentChunk.length > 0) {\n  chunkTexts.push(currentChunk);\n}\n\n// Now create chunks with total\nconst totalChunks = chunkTexts.length;\nconst chunks = chunkTexts.map((text, index) => ({\n  json: {\n    chunkNumber: index + 1,\n    totalChunks,\n    text\n  }\n}));\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        384
      ],
      "id": "21b87f60-2f1a-4cb7-b839-536fd54a520f",
      "name": "Split Script into Chunks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33df23a1-d16d-4bc6-b58d-28c77cff43db",
              "name": "Chunk Number",
              "value": "={{ $json.chunkNumber }}",
              "type": "string"
            },
            {
              "id": "66f7e28f-e27d-41f0-a72a-76ad20192b48",
              "name": "Chunk Script",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        416
      ],
      "id": "b6ad70a0-1554-47ae-bc67-b61a6af777f4",
      "name": "Chunk Data"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -880,
        528
      ],
      "id": "95a57c3f-99e8-4fea-a2e0-27dcdd825c9b",
      "name": "Get All Workers",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Worker Status'] }}",
                    "rightValue": "Ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worker Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                    "leftValue": "={{ $json['Worker Status'] }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workers Busy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        528
      ],
      "id": "723119dc-c097-482a-8bd2-19e2a26081f0",
      "name": "Check for \"Ready\" Workers"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -560,
        624
      ],
      "id": "cce71ea9-c714-4685-8606-f8087cdb4317",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        624
      ],
      "id": "f0dcf2e4-f406-4ddf-aa14-5c14e5c19fbd",
      "name": "Check Again in 10 Sec",
      "webhookId": "de157212-b0bf-4ed3-9441-a84bb32a46e1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        448
      ],
      "id": "1012d66d-62db-48f8-95b9-99d4e6ddf98a",
      "name": "Get Worker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa199097-ca6c-43d7-afce-a0a70be62df9",
              "name": "Chunk Number",
              "value": "={{ $json['Chunk Number'] }}",
              "type": "string"
            },
            {
              "id": "78ce07e7-2794-4988-9db1-49bd96a2c0b9",
              "name": "Chunk Script",
              "value": "={{ $json['Chunk Script'] }}",
              "type": "string"
            },
            {
              "id": "6bc794a0-4836-4290-85cd-165832d48cd0",
              "name": "Id",
              "value": "={{ $json.Id }}",
              "type": "string"
            },
            {
              "id": "6269efef-c1ff-4cd4-9317-f8d66482ab9a",
              "name": "Worker Table Name",
              "value": "={{ $('trigger').first().json['Worker Table Name'] }}",
              "type": "string"
            },
            {
              "id": "df32d451-72bc-4271-abcb-4c5ba918c89c",
              "name": "Channel Base Name",
              "value": "={{ $('trigger').first().json['Channel Base Name'] }}",
              "type": "string"
            },
            {
              "id": "c457a9b5-4cb7-4849-97a5-34f307a163d9",
              "name": "Storage Bucket",
              "value": "={{ $('trigger').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "097bbfc8-7d42-45e3-8a81-a5d5e0be2df5",
              "name": "Videos Folder Path",
              "value": "={{ $('trigger').first().json['Videos Folder Path'] }}",
              "type": "string"
            },
            {
              "id": "aaa6455c-a926-4561-9c43-a852b841b577",
              "name": "Project Name",
              "value": "={{ $('trigger').first().json['Project Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        384
      ],
      "id": "fa051723-2b7b-415b-9ea1-1dc603868065",
      "name": "Set Input Data for Chunk"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "=Worker Status",
              "fieldValue": "Processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        544
      ],
      "id": "33309342-078d-497a-85de-e7b98a53bd87",
      "name": "Set Status from \"Ready\" to \"Processing\"",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        464
      ],
      "id": "e9f67d3c-dcd1-495e-bf4b-aaf7a902cd60",
      "name": "Wait for both Paths to Finish"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        112
      ],
      "id": "827cedac-7e1f-459f-9989-a9af48df65c1",
      "name": "Wait 30 Sec",
      "webhookId": "f31a5214-e4a8-47c0-9020-41496b80676b"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Worker Table Name'] }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -816,
        112
      ],
      "id": "1be3bfe9-2cd1-4813-8216-526dfc49ede2",
      "name": "Grab All Workers",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "22e90a7b-932f-4f56-b16f-bcd8f369335f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worker Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c88a33-5ec0-4035-a5e7-0cc68fd6154d",
                    "leftValue": "={{ JSON.stringify($json['Worker Status']) }}",
                    "rightValue": "Processing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workers Busy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        112
      ],
      "id": "85b786df-9072-44cd-a88a-79a22c505965",
      "name": "Check Worker Status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ],
      "id": "cb1be070-bfa0-497d-a0d0-68fbbdac9c58",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecfcc336-1d1b-4d7e-9c03-712d555279e1",
              "name": "Total Chunk Number",
              "value": "={{ $('Split Script into Chunks').first().json.totalChunks }}",
              "type": "string"
            },
            {
              "id": "ad6c14d5-7fd0-40d9-923c-827fb5e41570",
              "name": "Voiceover Chunk Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -112
      ],
      "id": "7143986f-8f98-4a71-b7c5-28ac1fcae4bd",
      "name": "Set Input Data for Voiceover Processing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        -112
      ],
      "id": "e394469c-f78e-4787-bddb-5a16b2e28476",
      "name": "Limit2"
    },
    {
      "parameters": {
        "jsCode": "// Assuming input is a single item with json like your data:\n// { \"Total Chunk Number\": \"6\", \"Voiceover Chunk Download URL\": \"http://...\" }\n// If your input is an array, access items[0].json\nconst data = items[0].json; // Or adjust if multiple items\nconst totalChunks = parseInt(data[\"Total Chunk Number\"], 10);\nconst basePath = data[\"Voiceover Chunk Download URL\"];\n// Generate input objects: [{ file_url: basePath + \"audio-chunk-1.mp3\", options: [{option: \"-f\", argument: \"mp3\"}] }, ...]\nconst inputs = [];\nfor (let i = 1; i <= totalChunks; i++) {\n  inputs.push({\n    file_url: `${basePath}audio-chunk-${i}.wav`,\n    options: [{ option: \"-f\", argument: \"mp3\" }]\n  });\n}\n// Build the filter_complex string for audio concatenation: [0:a][1:a]...concat=n=total:v=0:a=1 [a]\nconst filterInputs = inputs.map((_, index) => `[${index}:a]`).join('');\nconst concatFilter = `${filterInputs}concat=n=${totalChunks}:v=0:a=1 [a]`;\n// Filters array\nconst filters = [{ filter: concatFilter }];\n// Outputs: map to [a], encode to MP3\nconst outputs = [\n  {\n    options: [\n      { option: \"-map\", argument: \"[a]\" },\n      { option: \"-c:a\", argument: \"libmp3lame\" },\n      { option: \"-b:a\", argument: \"128k\" }\n    ]\n  }\n];\n// Optional: Add global options like -y to overwrite, -strict -2, and increase probesize/analyzeduration\nconst globalOptions = [\n  { option: \"-y\" },\n  { option: \"-strict\", argument: \"-2\" },\n  { option: \"-probesize\", argument: \"50000000\" },\n  { option: \"-analyzeduration\", argument: \"100000000\" }\n];\n// Return the structured payload for /v1/ffmpeg/compose\nreturn [\n  {\n    json: {\n      inputs: inputs,\n      filters: filters,\n      outputs: outputs,\n      global_options: globalOptions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -112
      ],
      "id": "5f0d5f8c-a68a-4f7f-b3a4-27752fda4c67",
      "name": "Prepare Render API Input for Voiceover"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('trigger').item.json['Video Render API key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -112
      ],
      "id": "5a5b9a26-23bc-4747-999a-5b6ae12691e6",
      "name": "Merge Voiceover Chunks into One mp3 File"
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -112
      ],
      "id": "da6533ed-a260-4790-a35c-daee124ee26b",
      "name": "Download Finished Voiceover"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        736,
        -112
      ],
      "id": "443f9e60-0816-43e8-acb1-19c3325518d4",
      "name": "Upload Voiceover File to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $('Merge Voiceover Chunks into One mp3 File').first().json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}"
            },
            {
              "name": "language_code",
              "value": "de"
            },
            {
              "name": "punctuate",
              "value": "true"
            },
            {
              "name": "format_text",
              "value": "true"
            },
            {
              "name": "disfluencies",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        144
      ],
      "id": "1b825243-2613-4983-8a14-51d0d37d2679",
      "name": "Transcribe Audio (for Captions)"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        144
      ],
      "id": "7cd267e8-91c3-433e-a733-ce9863f734e8",
      "name": "Request Transcript"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/srt",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chars_per_caption",
              "value": "42"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "65edf19c9f8e410da437e33eece8b324"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        128
      ],
      "id": "dd00a11e-f00a-4d19-9e07-fa322addec24",
      "name": "Grab Transcript"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "srt",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        128
      ],
      "id": "ef6c3234-18e4-42ab-af32-2da05d6e77f1",
      "name": "JSON -> SRT-File"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        928,
        128
      ],
      "id": "bd3967bc-90b2-4e23-a7f1-76193d16da5b",
      "name": "Upload SRT-File to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Alternative version with transparency effect\nconst loopVideoUrl = $input.item.json['Loop Video Download URL'];\nconst audioUrl = $input.item.json['Voiceover Download URL'];\nconst overlayPath = $input.item.json['Overlay Download URL'];\nconst srtUrl = $input.item.json['SRT Download URL'];\n\nconst inputs = [\n  { file_url: loopVideoUrl }, // 0: background video\n  { file_url: audioUrl },     // 1: audio\n  { file_url: overlayPath }   // 2: overlay video\n];\n\nconst audioIndex = 1;\n\n// Build filter complex\nlet filterComplex = \"[0:v]loop=-1:size=1800:start=0[mainloop];\";\nfilterComplex += \"[2:v]loop=-1:size=481:start=0[overlayloop];\";\n// Use colorkey to make black transparent, then overlay\nfilterComplex += \"[overlayloop]colorkey=0x000000:0.3:0.1[keyed];\";\nfilterComplex += \"[mainloop][keyed]overlay=x=0:y=0[vout];\";\n// Add subtitles\nfilterComplex += `[vout]subtitles='${srtUrl}':force_style='FontSize=30,PrimaryColour=&H00FFFF&,Alignment=2'[vout]`;\n\nconst outputOptions = [\n  { option: \"-map\", argument: \"[vout]\" },\n  { option: \"-map\", argument: `${audioIndex}:a` },\n  { option: \"-c:v\", argument: \"libx264\" },\n  { option: \"-crf\", argument: \"23\" },\n  { option: \"-preset\", argument: \"medium\" },\n  { option: \"-c:a\", argument: \"aac\" },\n  { option: \"-b:a\", argument: \"192k\" },\n  { option: \"-shortest\" },\n  { option: \"-f\", argument: \"mp4\" }\n];\n\nconst payload = {\n  inputs: inputs,\n  filters: [\n    {\n      filter: filterComplex\n    }\n  ],\n  outputs: [\n    {\n      options: outputOptions\n    }\n  ],\n  metadata: {\n    thumbnail: true,\n    filesize: true,\n    duration: true,\n    bitrate: true,\n    encoder: true\n  },\n  id: \"composed_video_\" + Date.now()\n};\n\nreturn payload;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        448
      ],
      "id": "2f3d29fe-1909-4539-9564-9aa88ce18fd2",
      "name": "Prepare Render API Input for Final Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "447d00a7-f531-43e8-8e9e-611ec9903a93",
              "name": "Loop Video Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/clips/loop-video.mp4",
              "type": "string"
            },
            {
              "id": "d8f999bc-beb6-4fb7-974c-d5999c848ae4",
              "name": "Voiceover Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/complete-voiceover.mp3",
              "type": "string"
            },
            {
              "id": "71278169-8dfe-4034-8bfd-fad3da34b5f2",
              "name": "SRT Download URL",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}{{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/voiceover/transcript.srt",
              "type": "string"
            },
            {
              "id": "c025994b-d78b-4d2a-8833-5f2f7378a02c",
              "name": "Overlay Download URL OLD",
              "value": "={{ $('trigger').item.json['Storage Bucket PUBLIC URL'] }}youtube-channels/{{ $('trigger').first().json['Overlay Video'] }}",
              "type": "string"
            },
            {
              "id": "58a0e413-115e-4ec0-89fe-0374ed690e8e",
              "name": "Overlay Download URL",
              "value": "https://n8nt.mos.us-south-1.sufybkt.com/Glowing_particles_overlay_free_to_use_1080p.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        416
      ],
      "id": "edfea310-98af-4ca9-8ab7-159bc20dfb7c",
      "name": "Set Input Data for Final Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trigger').first().json['Video Render API'] }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('trigger').item.json['Video Render API key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 2000000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        400
      ],
      "id": "2a371531-fd89-48d2-9d73-5c232c7332ec",
      "name": "Render Final Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(\"http://minio\", $('trigger').first().json['Video Render API'].replace('http://', '').replace(':8081', '')) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        432
      ],
      "id": "d80e3bb1-4d10-4a21-aa55-674b7de58843",
      "name": "Download Final Video"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('trigger').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('trigger').first().json['Videos Folder Path'] }}/{{ $('trigger').first().json['Project Name'] }}/{{ $('trigger').first().json['Project Name'] }}.mp4",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        432,
        656
      ],
      "id": "2d151eda-4410-453e-bec9-1004f2ff16b8",
      "name": "Upload Final Video to Project",
      "credentials": {
        "s3": {
          "id": "K3Ji1vSaw4y5ofv7",
          "name": "German Family Drama - S3 account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "wtu1usuc",
        "projectId": "={{ $('trigger').first().json['Channel Base Name'] }}",
        "table": "={{ $('trigger').first().json['Channel Table Name'] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('trigger').first().json.Id }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "=Done on {{ $now.format('dd/LL/yyyy') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        912,
        656
      ],
      "id": "6ab70983-bc6c-4acc-9004-ab934100b699",
      "name": "Set Project Status to \"Done\"",
      "credentials": {
        "nocoDbApiToken": {
          "id": "JoY3JTA7ut2SRv1l",
          "name": "German Family Drama - NocoDB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://tahabou2002-myauntsgts.hf.space/webhook/bde9cf17-a83b-4eed-86f5-3177313910e2111454754",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        656
      ],
      "id": "02b657af-9f2c-41b8-9bcd-865f65f94aae",
      "name": "Start Organizer Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ADJUST THIS NUMBER TO FIX YOUR TIMING\n// ============================================\nconst SHIFT_MS = -600;  // Change this! Try -300, -500, -600, etc.\n// Negative = captions appear EARLIER\n// Positive = captions appear LATER\n// ============================================\n\n// Get your SRT data (adjust this line if needed)\nconst srtContent = $input.item.json.data;  \n// Other options:\n// const srtContent = $input.item.json[0].data;  // if format is [{\"data\": \"...\"}]\n// const srtContent = $input.item.json;  // if the whole input IS the SRT string\n\n// ==== YOU DON'T NEED TO TOUCH ANYTHING BELOW THIS LINE ====\n\n// Parse SRT timestamp to milliseconds\nfunction parseSrtTimestamp(timestamp) {\n    const parts = timestamp.split(':');\n    const hours = parseInt(parts[0]);\n    const minutes = parseInt(parts[1]);\n    const [seconds, milliseconds] = parts[2].split(',').map(n => parseInt(n));\n    return (hours * 3600000) + (minutes * 60000) + (seconds * 1000) + milliseconds;\n}\n\n// Format milliseconds to SRT timestamp\nfunction formatSrtTimestamp(totalMs) {\n    if (totalMs < 0) totalMs = 0;\n    const hours = Math.floor(totalMs / 3600000);\n    const minutes = Math.floor((totalMs % 3600000) / 60000);\n    const seconds = Math.floor((totalMs % 60000) / 1000);\n    const milliseconds = totalMs % 1000;\n    return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')},${String(milliseconds).padStart(3, '0')}`;\n}\n\nconsole.log(`Step 1: Shifting all timestamps by ${SHIFT_MS}ms`);\n\n// First, apply the time shift\nlet shiftedSrt = srtContent.replace(\n    /(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})/g,\n    (match, start, end) => {\n        const newStart = formatSrtTimestamp(parseSrtTimestamp(start) + SHIFT_MS);\n        const newEnd = formatSrtTimestamp(parseSrtTimestamp(end) + SHIFT_MS);\n        return `${newStart} --> ${newEnd}`;\n    }\n);\n\nconsole.log(`Step 2: Removing gaps between subtitles`);\n\n// Parse all subtitle blocks\nconst subtitleBlocks = [];\nconst blockPattern = /(\\d+)\\n(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})\\n([\\s\\S]*?)(?=\\n\\d+\\n|\\n*$)/g;\nlet match;\n\nwhile ((match = blockPattern.exec(shiftedSrt)) !== null) {\n    subtitleBlocks.push({\n        index: match[1],\n        start: match[2],\n        end: match[3],\n        text: match[4].trim()\n    });\n}\n\nconsole.log(`Found ${subtitleBlocks.length} subtitles`);\n\n// Extend each subtitle's end time to the next subtitle's start time\nfor (let i = 0; i < subtitleBlocks.length - 1; i++) {\n    const currentEnd = parseSrtTimestamp(subtitleBlocks[i].end);\n    const nextStart = parseSrtTimestamp(subtitleBlocks[i + 1].start);\n    \n    // Only extend if there's a gap (next starts after current ends)\n    if (nextStart > currentEnd) {\n        subtitleBlocks[i].end = subtitleBlocks[i + 1].start;\n    }\n}\n\n// Rebuild the SRT file\nlet correctedSrt = '';\nfor (let i = 0; i < subtitleBlocks.length; i++) {\n    const block = subtitleBlocks[i];\n    correctedSrt += `${block.index}\\n`;\n    correctedSrt += `${block.start} --> ${block.end}\\n`;\n    correctedSrt += `${block.text}\\n\\n`;\n}\n\n// Show example\nif (subtitleBlocks.length > 0) {\n    console.log(`Example of first subtitle:`);\n    console.log(`${subtitleBlocks[0].start} --> ${subtitleBlocks[0].end}`);\n    console.log(`Text: ${subtitleBlocks[0].text.substring(0, 50)}...`);\n}\n\n// Return the corrected SRT\nreturn { srt: correctedSrt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        128
      ],
      "id": "340af344-45fa-4bdc-b1b6-b36b13e6cdb9",
      "name": "Shift Transcript -600ms"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        144
      ],
      "id": "4e080bc7-dc4e-4beb-b01c-6515e622fd3d",
      "name": "Wait 20 Sec",
      "webhookId": "34ce6a35-62eb-46c2-8cf0-6992ac6d7071"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2D0waGOdkFP85jAg",
          "mode": "id",
          "cachedResultUrl": "/workflow/2D0waGOdkFP85jAg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        640
      ],
      "id": "0642e35c-1945-452e-97e7-19b95f60fd94",
      "name": "Voiceover Chunk Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        384
      ],
      "id": "318d8e6b-62f3-4221-b4e6-ff16dab70426",
      "name": "Loop Over Chunks"
    },
    {
      "parameters": {
        "content": "## 1. Voiceover Chunk Generation Loop (w/ Workers)",
        "height": 480,
        "width": 1424,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        368
      ],
      "id": "533fbc62-cfb9-4bba-b806-763f1d38fb6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 1.1 Wait for last Workers",
        "height": 256,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        64
      ],
      "id": "65080d44-50ec-48a0-a7d9-394bd67b4196",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2. Merge Voiceover Chunks into One File",
        "height": 240,
        "width": 1184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -160
      ],
      "id": "f090d8a3-92e1-4ab6-9fa9-97f1a5176b34",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3. Generate Transcript from Voiceover",
        "height": 256,
        "width": 1392,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "id": "b6e78788-6084-4c12-803b-07c0d2910a42",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 4. Render Final Video",
        "height": 480,
        "width": 992,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "a849d63d-5645-4ba5-ad7d-9f9649942ac4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 0. Start B-Roll Generation & Split Chunks",
        "height": 208,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        336
      ],
      "id": "9544ba2d-9268-49dd-b1e1-7079d120a57e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        448
      ],
      "id": "6a927039-54b1-421c-b60e-fa8e5f823d36",
      "name": "Wait",
      "webhookId": "7016881d-0c2d-4f7e-b7db-8a467e62dc5c"
    }
  ],
  "pinData": {
    "trigger": [
      {
        "json": {
          "Channel Table Name": "mgz8wkrrkbktpef",
          "Channel Base Name": "p7903f0ck8ocsqt",
          "Worker Table Name": "m0jfpnipilf8qr7",
          "Script": "\"Du hast Glck, dass du diesen Job berhaupt hast, Alma!\" Mein Vater Friedrich knallt die Mappe mit den Quartalszahlen so heftig auf seinen massiven Eichenschreibtisch, dass mein Kaffeebecher gefhrlich wackelt und ein dunkler Fleck auf dem teuren Teppich landet. Ich starre ihn fassungslos an, whrend mein Herz gegen meine Rippen hmmert wie ein gefangener Vogel. Glck? Ich spre, wie die Hitze in meinen Nacken steigt. Ich habe die Effizienz in den letzten zwei Jahren um vierzig Prozent gesteigert, habe jede Nachtschicht miterlebt und die gesamte Digitalisierung der Flotte im Alleingang gestemmt. Seit vier Jahren leite ich die Stein Logistik faktisch allein, whrend er auf Golfpltzen weilt oder sich in seinem Club feiern lsst. \"Ich verlange keine Almosen, Papa, ich verlange eine Gehaltserhhung, die dem Marktwert meiner Position entspricht\", sage ich, und ich bin stolz darauf, wie fest meine Stimme klingt, obwohl meine Hnde unter der Tischkante zittern. Er lacht nur, ein kurzes, trockenes Bellen ohne jede Wrme, und lehnt sich in seinem schweren Ledersessel zurck. Das Material knarrt unter seinem Gewicht. \"Marktwert? Du bist meine Tochter. Das hier ist dein Erbe, dein Privileg. Wer wrde dich denn sonst einstellen? Eine Frau in der Logistik, die glaubt, sie knne die Regeln machen? Geh an die Arbeit, Alma. Und wisch den Kaffee weg, bevor er einzieht.\" Ich verlasse das Bro, ohne ein weiteres Wort zu sagen. In meinem Kopf dreht sich alles. Was zur Hlle glaubt er eigentlich, wer den Laden hier am Laufen hlt? Bevor ich euch erzhle, was achtundvierzig Stunden spter geschah, schreibt mir kurz in die Kommentare: Von wo aus schaut ihr gerade zu und wie viel Uhr ist es bei euch? Nur zwei Tage spter herrscht in der Firma eine seltsame, fast greifbare Anspannung. Friedrich hat die gesamte Belegschaft in der groen Verladehalle zusammenrufen lassen. Ich stehe am Rand, zwischen den riesigen Hochregalen, die nach Diesel, Schmierl und altem Beton riechen. Die Klte der ungeheizten Halle kriecht mir unter die Haut, aber ich versuche, mir nichts anmerken zu lassen. Vielleicht will er mich ja doch berraschen? Vielleicht war sein Ausbruch im Bro nur ein Test? Friedrich steigt auf eine provisorische Bhne aus Euro-Paletten. Neben ihm steht mein Bruder Paul. Er trgt einen mageschneiderten Anzug, der in dieser Umgebung so deplatziert wirkt wie ein Diamant in einer Kohlemine. Paul hat noch nie eine Schicht geplant, er wei nicht einmal, wie man einen Gabelstapler startet, geschweige denn, wie man eine Route fr siebenundfnfzig LKW so taktet, dass kein Leerlauf entsteht. \"Liebe Mitarbeiter\", beginnt mein Vater und seine Stimme drhnt durch das tragbare Megafon. \"Die Stein Logistik muss sich fr die Zukunft rsten. Deshalb freue ich mich, heute meinen Sohn Paul als neuen Direktor fr Strategie und Wachstum vorzustellen.\" Ein Raunen geht durch die Menge der Fahrer und Lagerarbeiter. Ich merke, wie mir der Boden unter den Fen wegsackt. \"Paul wird ab sofort alle strategischen Entscheidungen treffen und die Leitung des operativen Geschfts bernehmen. Sein Gehalt wird seiner neuen Verantwortung angepasst und liegt bei einhundertfnfzigtausend Euro jhrlich, zuzglich Firmenwagen und Spesen.\" Ein Schlag ins Gesicht wre weniger schmerzhaft gewesen. Einhundertfnfzigtausend Euro? Das ist dreimal so viel, wie ich verdiene. Ich sehe zu Paul, der grinst und sich fr den verhaltenen Applaus der Belegschaft verbeugt. Er sieht mich direkt an und zwinkert mir zu, als wre das alles ein groer Spa. In diesem Moment begreife ich es: Das war kein Test. Das war eine Hinrichtung. Friedrich hat mich benutzt, um den Laden aufzubauen, und jetzt, wo alles luft, setzt er seinen Goldjungen auf den Thron, den ich gezimmert habe. Er will mich bestrafen, weil ich meinen Wert erkannt und den Mund aufgemacht habe. Er will, dass ich bleibe und Pauls Arbeit mache, whrend er den Ruhm und das Geld einstreicht. Ein tiefes, eiskaltes Gefhl der Klarheit breitet sich in mir aus. Der Schmerz verschwindet und macht Platz fr eine Entschlossenheit, die ich so noch nie gesprt habe. Ich warte nicht ab, bis die Versammlung zu Ende ist. Ich drehe mich um und gehe mit schnellen Schritten in mein kleines Bro im ersten Stock. Meine Hnde zittern jetzt nicht mehr. Ich ziehe ein weies Blatt Papier aus dem Drucker und setze mich an meinen Schreibtisch. Der Stift kratzt ber das Papier, whrend ich die Worte formuliere, die meine Brcken endgltig niederbrennen werden. Hiermit kndige ich mein Arbeitsverhltnis mit sofortiger Wirkung. Keine Erklrungen, keine Rechtfertigungen. Ich drucke das Schreiben aus und unterschreibe mit einem festen Strich. Als ich wieder in die Halle trete, lst sich die Versammlung gerade auf. Friedrich steht bei Paul und klopft ihm lachend auf die Schulter. Ich marschiere direkt auf sie zu. Die Fahrer machen mir Platz, sie spren wohl, dass etwas in der Luft liegt. \"Hier\", sage ich und halte Friedrich das Blatt hin. Er nimmt es entgegen, ohne sein Lachen zu unterbrechen. \"Was ist das, Alma? Der Tourenplan fr den Automobil-Groauftrag nchste Woche? Gib ihn Paul, er muss sich einarbeiten.\" Ich schttle den Kopf. \"Lies es, Vater.\" Er berfliegt die Zeilen und sein Gesicht verfrbt sich von einem gesunden Rosa zu einem dunklen, zornigen Violett. \"Was soll dieser Unsinn? Du kannst nicht kndigen! Wer soll denn Paul einarbeiten? Wer soll die Disposition fr Montag machen?\" Ich sehe ihn ruhig an. \"Der neue Direktor fr Strategie und Wachstum wird das sicher im Griff haben, oder Paul?\" Paul sieht von seinem Smartphone auf und blinzelt verwirrt. \"Was? Alma, ich wei nicht mal, wie ich mich ins System einlogge. Du kannst jetzt nicht gehen, wir haben die Messe-Logistik vor der Brust!\" Ich spre ein bsartiges Vergngen bei seinem Anblick. \"Viel Glck dabei. Meine Schlssel liegen auf dem Schreibtisch. Meine persnlichen Sachen nehme ich morgen mit, wenn ihr nicht da seid.\" Friedrich tritt einen Schritt auf mich zu, seine Augen blitzen vor Wut. \"Wenn du jetzt gehst, Alma, dann bist du fr mich gestorben! Dann gibt es kein Zurck mehr in diese Familie! Du wirst betteln kommen, wenn du merkst, dass dich da drauen niemand will!\" Ich antworte nicht. Ich drehe mich einfach um und gehe. Ich gehe vorbei an den Gabelstaplern, vorbei an den verwirrten Gesichtern der Kollegen, durch das groe Rolltor hinaus auf den Parkplatz. Die kalte Luft schneidet in meine Lungen, aber sie fhlt sich so sauber an wie schon lange nicht mehr. Ich steige in meinen alten Wagen, starte den Motor und fahre vom Gelnde, ohne ein einziges Mal in den Rckspiegel zu schauen. Ich habe nichts auer meinem Wissen und meinem Ruf, aber in diesem Moment fhle ich mich reicher als Paul mit seinem neuen Gehaltsscheck jemals sein wird. Das Spiel hat gerade erst begonnen.\n\"Frau Stein, wir haben Ihr Profil schon seit Monaten im Auge, und ehrlich gesagt hatten wir die Hoffnung fast aufgegeben, dass Sie das Familienunternehmen jemals verlassen wrden\", sagt Dr. Weber, whrend er mir ber den polierten Konferenztisch der Rhein-Logistik-Gruppe ein schweres Lederetui mit einem Fllfederhalter hinschiebt. Ich sitze in der zehnten Etage des glsernen Towers in Dsseldorf, blicke hinunter auf den schimmernden Rhein und spre, wie sich ein Knoten in meiner Brust lst, von dem ich gar nicht wusste, wie fest er eigentlich geschnrt war. Ich schlage den Arbeitsvertrag auf und meine Augen bleiben an einer Zahl hngen, die mein Gehirn einen Moment lang gar nicht verarbeiten kann. Fnfundsiebzigtausend Euro Grundgehalt, dazu eine Erfolgsbeteiligung und ein Dienstwagenbudget, das Pauls lcherlichen Sportwagen wie ein Spielzeug aussehen lsst. Das sind ber fnfundvierzig Prozent mehr als das, was mein Vater mir nach jahrelanger harter Arbeit verweigert hat. \"Ist das Ihr Ernst?\", frage ich, und meine Stimme zittert ganz leicht, was ich sofort verfluche. Dr. Weber lchelt mich warm an, ohne diese herablassende Art, die mein Vater immer an den Tag legte. \"Frau Stein, das ist der marktbliche Preis fr jemanden mit Ihrer Erfahrung und Ihrem Ruf in der Branche. Wir wissen genau, dass Sie die Stein Logistik fast im Alleingang modernisiert haben. Eigentlich mssten wir uns entschuldigen, dass wir Ihnen nicht frher ein Angebot gemacht haben.\" Ich unterschreibe den Vertrag mit einer Entschlossenheit, die mich selbst berrascht. In diesem Moment begreife ich die bittere Wahrheit: Das angebliche Familienprivileg, von dem Friedrich immer gefaselt hat, war in Wirklichkeit nichts anderes als systematischer Lohndiebstahl. Er hat meine Loyalitt ausgenutzt, um sich die Taschen vollzumachen, whrend er mir erzhlte, ich htte Glck, berhaupt dort arbeiten zu drfen. Was fr ein perfides Spiel. In den nchsten drei Wochen tauche ich in eine Welt ein, die ich so nicht fr mglich gehalten htte. Bei der Rhein-Logistik-Gruppe werde ich nicht als die Tochter vom Chef gesehen, sondern als Expertin. Ich habe ein Team von fnf Leuten, die mich respektieren und deren Ideen ich frdere. Es ist so einfach, wenn man nicht stndig gegen den Starrsinn eines alten Mannes ankmpfen muss. Doch whrend ich aufblhe, brennt bei der Stein Logistik sprichwrtlich die Htte. Mein Handy vibriert whrend einer Mittagspause unaufhrlich. Es ist Werner, mein ehemaliger Werkstattleiter. \"Alma, du musst uns helfen\", flstert er fast in die Sprachnachricht, als wrde er befrchten, belauscht zu werden. \"Es ist ein einziges Desaster. Paul hat das neue Dispositions-Programm installiert, das er fr eine Million Euro von irgendeiner hippen Agentur aus Berlin gekauft hat. Das Ding sieht toll aus, hat bunte Grafiken und Dashboards, aber es bercksichtigt die gesetzlichen Ruhezeiten der Fahrer nicht. Wir haben heute drei LKW in der Kontrolle verloren, weil die Fahrer seit vierzehn Stunden auf Achse waren. Friedrich tobt oben in seinem Bro, und Paul schlgt vor, wir sollten die Fahrer in neue Designer-Uniformen stecken, damit das Image der Firma wieder besser wird.\" Ich schttle fassungslos den Kopf. Neue Uniformen? Ernsthaft? Was zur Hlle glaubt er, wie Logistik funktioniert? Man kann einen brennenden LKW nicht mit einem schicken Anzug lschen. Ich schreibe Werner nicht zurck. So hart es auch klingt, es ist nicht mehr meine Baustelle. Ich habe das Schiff verlassen, bevor es den Eisberg rammte, den mein Vater und mein Bruder selbst platziert haben. Wenige Tage spter kommt der endgltige Zusammenbruch im Netz. Auf der Branchenseite Logistik-Heute lese ich die Schlagzeile: Stein Logistik verliert Exklusivvertrag fr Automobilmesse Frankfurt. Ich schlucke schwer. Das war unser wichtigster Auftrag, das Herzstck des Jahresumsatzes. Ich scrolle durch den Artikel und finde heraus, dass die gesamte Flotte fr den Aufbau zu spt kam, weil Paul die Ladekapazitten der Gabelstapler falsch berechnet hatte. Die Messeleitung hat den Vertrag fristlos gekndigt und eine Vertragsstrafe in sechsstelliger Hhe verhngt. Mein Herz hmmert gegen meine Rippen, aber nicht vor Sorge, sondern vor einer seltsamen Mischung aus Besttigung und Entsetzen ber so viel Unfhigkeit. Dann klingelt mein Telefon. Ein privater Anruf. Friedrich. Ich starre auf das Display und spre, wie meine Handflchen feucht werden. Ich lasse es klingeln, bis die Mailbox anspringt. Keine Nachricht. Fnf Minuten spter ruft Paul an. Ich drcke ihn weg. Er schickt eine SMS: \"Alma, geh ran! Papa bekommt einen Herzinfarkt wegen der Messe-Sache. Du musst uns die Schichtplne fr nchste Woche schicken, wir finden die Zugangsdaten fr den Server nicht!\" Ich lsche die Nachricht sofort. Die Zugangsdaten liegen in der obersten Schublade meines alten Schreibtisches, genau dort, wo ich sie hingehngt habe. Aber wenn Paul zu stolz oder zu dumm ist, eine Schublade zu ffnen, werde ich ihn nicht an die Hand nehmen. In der Kantine treffe ich Dr. Weber. Er setzt sich zu mir und schaut auf mein Tablet, auf dem die Nachricht ber Stein Logistik noch offen ist. \"Harter Schlag fr Ihren Vater\", sagt er neutral. Ich nicke nur. \"Er wollte es so. Er dachte, Strategie bestnde aus schnen Powerpoint-Prsentationen und einem hohen Gehalt.\" Dr. Weber sieht mich lange an. \"Wir haben heute Morgen die Anfrage der Messeleitung erhalten, ob wir einspringen knnen. Ich habe gesagt, dass wir das nur schaffen, wenn unsere neue Abteilungsleiterin das Projekt bernimmt. Was sagen Sie, Alma? Wollen Sie den Auftrag retten, den Ihr Bruder gerade in den Sand gesetzt hat?\" Ein khles Lcheln stiehlt sich auf mein Gesicht. Oh ja, das will ich. Aber nicht fr Stein Logistik. Ich werde diesen Auftrag fr meinen neuen Arbeitgeber holen und meinem Vater zeigen, was es kostet, wenn man die Person vergrault, die das Fundament des eigenen Erfolgs war. Am Abend sitzen Werner und zwei andere Fahrer bei mir im Wohnzimmer. Sie haben heute gekndigt. \"Wir knnen da nicht mehr arbeiten, Alma\", sagt Werner und seine Stimme bricht fast. \"Es ist nicht mehr die Firma, die wir kannten. Friedrich hrt nur noch auf Paul, und Paul behandelt uns wie Nummern in seinem neuen Spielzeug-Programm.\" Ich schenke ihnen Kaffee ein und schiebe ihnen die Visitenkarten von Dr. Weber hin. \"Fangt am Montag bei uns an\", sage ich einfach. \"Wir brauchen Profis wie euch.\" In diesem Moment fhle ich mich mchtiger als jemals zuvor in der kleinen Welt meines Vaters. Er dachte, er knnte mich bestrafen, indem er mir meine Position wegnimmt. Er hat nicht gemerkt, dass er mir damit nur die Freiheit gegeben hat, ihm alles zu nehmen, was ihm wirklich wichtig ist: seine Firma und seinen Stolz. Die Stein Logistik blutet aus, und ich bin diejenige, die den Verband hlt, weit weg von seinen hasserfllten Augen.\n\"Alma, wie kannst du uns das nur antun?\" Meine Mutter Gertrude steht in der Mitte meines neuen, lichtdurchfluteten Bros im zehnten Stock und umklammert ihre Designer-Handtasche, als wre sie ein Rettungsring in strmischer See. Ihr Blick wandert angewidert ber die moderne Glasfront und die ergonomischen Mbel. \"Du sitzt hier in diesem sterilen Glaskasten, whrend dein Vater zu Hause vor den Trmmern seines Lebenswerks steht. Hast du denn gar kein Herz?\" Ich lehne mich in meinem Stuhl zurck und spre das khle Leder in meinem Rcken. Mein Herz hmmerte gegen die Rippen, als sie unangemeldet zur Tr hereinplatzte, aber jetzt spre ich nur noch eine seltsame, fast schmerzhafte Ruhe. \"Ich tue euch gar nichts an, Mama\", sage ich leise. \"Ich mache einfach nur meinen Job. Dass die Stein Logistik kurz vor der Insolvenz steht, liegt nicht an meinem Weggang, sondern an den Fehlentscheidungen, die ihr getroffen habt.\" Sie schnappt nach Luft, ein kurzes, pfeifendes Gerusch. \"Fehlentscheidungen? Wir sind eine Familie! Paul braucht eben ein wenig Zeit, um sich einzuarbeiten. Er ist dein Bruder! Du ruinierst dein eigenes Erbe, Alma. Wenn die Firma untergeht, bleibt fr dich am Ende auch nichts mehr brig.\" Ich muss fast lachen, aber es ist ein bitteres Lachen, das in meiner Kehle stecken bleibt. \"Mein Erbe? Du meinst den Berg an Schulden und die enttuschten Mitarbeiter? Mein Erbe war die harte Arbeit, die ich vier Jahre lang fr ein Taschengeld verrichtet habe, whrend ihr Paul den roten Teppich ausgerollt habt.\" Sie tritt einen Schritt nher, ihre Augen glnzen vor unterdrckten Trnen. \"Dein Vater ist am Ende. Er schlft nicht mehr. Er... er will dich sehen, Alma. Er will, dass du zurckkommst. Er ist bereit, dir mehr Gehalt zu zahlen.\" \"Wie viel mehr, Mama? Das Doppelte? Das Dreifache? Es geht nicht mehr ums Geld\", antworte ich fest. In diesem Moment ffnet sich die Brotr erneut. Mein Vater Friedrich steht im Rahmen. Er sieht alt aus. Sein Anzug, der frher immer tadellos sa, wirkt pltzlich zwei Nummern zu gro fr seine eingefallenen Schultern. Der herrische Glanz in seinen Augen ist erloschen und hat einer verzweifelten Leere Platz gemacht. \"Alma\", sagt er, und seine Stimme bricht. Es ist das erste Mal in meinem Leben, dass ich ihn so schwach erlebe. Er geht nicht auf Gertrude ein, sondern sieht nur mich an. \"Ich habe mich geirrt. Paul... er versteht die Logistik nicht. Die Banken sitzen uns im Nacken. Wir haben den Anschluss verloren. Wenn du nicht sofort zurckkommst und das Ruder bernimmst, ist die Stein Logistik in zwei Monaten Geschichte.\" Ich sehe ihn an und fhle eine Welle von Mitleid, die ich sofort wieder unterdrcke. Was zur Hlle erwartet er jetzt von mir? Dass ich alles stehen und liegen lasse, um sein Ego und Pauls Unfhigkeit zu retten? \"Ich habe hier einen Vertrag, Vater\", sage ich und deute auf die Unterlagen auf meinem Schreibtisch. \"Ich habe Verantwortung gegenber meinen neuen Mitarbeitern und Kunden.\" Friedrich tritt an den Schreibtisch und sttzt sich mit den zitternden Hnden darauf ab. \"Ich flehe dich an. Rettest du die Familie?\" Ich atme tief durch. Mein Kopf arbeitet auf Hochtouren. \"In Ordnung\", sage ich schlielich. \"Ich mache euch ein Angebot. Ich werde nicht fest zurckkehren. Ich bleibe bei der Rhein-Logistik-Gruppe. Aber ich biete euch an, als externe Beraterin fr die Stein Logistik zu fungieren. Ich erstelle einen Sanierungsplan. Aber es gibt eine Bedingung, die nicht verhandelbar ist: Ich bekomme die volle Weisungsbefugnis gegenber Paul. Er wird keine einzige Entscheidung mehr treffen, ohne meine schriftliche Freigabe. Er wird zum einfachen Sachbearbeiter zurckgestuft, bis der Laden wieder luft. Und ich bestimme, wer in der Geschftsfhrung bleibt.\" Friedrichs Gesicht versteinert sich sofort. Die Schwche in seinen Augen wird durch den alten, hsslichen Starrsinn ersetzt. \"Meinen Sohn degradieren? Vor der gesamten Belegschaft? Das kannst du nicht verlangen, Alma! Das wre eine Demtigung fr die ganze Familie. Paul ist der Stammhalter!\" Ich schttle den Kopf. \"Dann ist dein Ego dir also wichtiger als das berleben der Firma? Du bittest mich um Hilfe, aber du willst die Bedingungen diktieren, die uns berhaupt erst in diesen Abgrund gefhrt haben?\" \"Es muss einen anderen Weg geben\", wirft Gertrude ein, ihre Stimme jetzt schrill. \"Du kannst Paul nicht so blostellen!\" Ich stehe langsam auf. Die Ruhe in mir ist jetzt absolut. \"Es gibt keinen anderen Weg. Entweder ich habe die volle Kontrolle, oder ihr msst zusehen, wie der Name Stein von den Lastwagen verschwindet. Ihr habt die Wahl.\" Friedrich starrt mich an. Er atmet schwer. Ich sehe, wie es in ihm arbeitet, wie sein Stolz gegen die nackte Existenzangst kmpft. Sekunden verstreichen wie Stunden. Schlielich richtet er sich auf und rckt seinen Schlips zurecht. \"Niemals\", presst er hervor. \"Ich werde nicht zulassen, dass du deine eigene Familie so unterbutterst. Wir werden es auch ohne dich schaffen. Wir sind die Steins!\" Ich nicke nur knapp. \"Dann haben wir uns nichts mehr zu sagen. Viel Erfolg beim Insolvenzverwalter.\" Ohne ein weiteres Wort verlassen die beiden mein Bro. Gertrude weint jetzt lautlos, Friedrich geht mit steifem Rcken voran, als wrde er in eine Schlacht ziehen, die er bereits verloren hat. Ich setze mich wieder hin und starre auf den Fluss drauen. Mein Herzschlag beruhigt sich. Es ist vorbei. Sechs Wochen spter sitze ich in der Cafeteria meines Arbeitgebers und scrolle durch die Wirtschaftsnachrichten auf meinem Tablet. Da steht es, schwarz auf wei: Stein Logistik von internationalem Grokonzern bernommen. Fusion besiegelt. Der Name Stein wird innerhalb der nchsten drei Monate aus dem Handelsregister gelscht. Paul wird in der neuen Struktur keine Rolle mehr spielen, und Friedrich wurde mit einer Abfindung abgespeist, die kaum reicht, um die privaten Brgschaften zu decken. Ich spre einen kurzen Stich der Wehmut, aber er ist schnell vorbei. Ich habe versucht, ihnen eine Brcke zu bauen, aber sie wollten lieber mit ihrem brennenden Schiff untergehen, als zuzugeben, dass eine Frau am Steuer sie htte retten knnen. Ich schliee die App und nehme einen Schluck von meinem Kaffee. Mein Handy vibriert. Eine Nachricht von Werner, der jetzt bei mir in der Disposition arbeitet: \"Alma, die Planung fr den neuen Standort in Hamburg steht. Sollen wir die Routen so freigeben?\" Ich lchle. \"Ja, Werner. Gib sie frei.\" Ich habe endlich akzeptiert, dass ich nicht verpflichtet bin, mich selbst in Brand zu setzen, um Menschen warmzuhalten, die mich nie gewrdigt haben. Ich habe meinen Stolz gewhlt, meine Unabhngigkeit und meine eigene Zukunft. Die Stein Logistik ist tot, aber ich lebe  und zwar besser als jemals zuvor. Ich packe meine Sachen, verlasse das Bro und trete hinaus in die Sonne. Es ist ein guter Tag, um ganz von vorn anzubringen. Ohne Schatten der Vergangenheit, ohne die Last einer falschen Loyalitt. Ich bin Alma, und ich gehre nur mir selbst.",
          "Storage Bucket": "n8nt",
          "Videos Folder Path": "german/family-drama/videos",
          "Project Name": "four-years-without-a-day-off-a-harsh-lesson",
          "Overlay Video": "german/family-drama",
          "Video Render API": "https://tasil66-myspace.hf.space",
          "Video Render API key": "Tahabou",
          "Id": "5",
          "Storage Bucket PUBLIC URL": "https://n8nt.mos.us-south-1.sufybkt.com/"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-21T11:11:21.376Z",
      "createdAt": "2025-12-21T11:11:21.376Z",
      "role": "workflow:owner",
      "workflowId": "mKyncW0fgoASQT11",
      "projectId": "Sz2vPJqZDAwEzZJp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T07:48:57.945Z",
  "versionId": "17b91777-f910-4239-867d-93c50de50b49"
}